Repository woowacourse-teams/2022-mo-rak, pull requests merged in 2022-10, with the labels that each got.

#423 feat: tooltip 컴포넌트 구현
  frontend/src/components/@common/Tooltip/Tooltip.tsx
  frontend/src/components/AppointmentCreate/AppointmentCreateFormTimeLimitInput/AppointmentCreateFormTimeLimitInput.tsx
  frontend/src/components/AppointmentResult/AppointmentResultButtonGroup/AppointmentResultButtonGroup.tsx
Labels: ✨ 기능, 💻 frontend

#425 refactor: 테스트 리팩토링 및 추가 작성
  frontend/REQUIREMENTS.md
  frontend/cypress.config.ts
  frontend/cypress/e2e/appointment.cy.ts
  frontend/cypress/e2e/poll.cy.ts
  frontend/cypress/support/commands.ts
  frontend/cypress/support/index.d.ts
  frontend/cypress/tsconfig.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/@common/Avatar/Avatar.tsx
  frontend/src/components/@common/Calendar/Calendar.tsx
  frontend/src/components/AppointmentCreate/AppointmentCreateFormCloseTimeInput/AppointmentCreateFormCloseTimeInput.tsx
  frontend/src/components/AppointmentCreate/AppointmentCreateFormDescriptionInput/AppointmentCreateFormDescriptionInput.tsx
  frontend/src/components/AppointmentCreate/AppointmentCreateFormDurationInput/AppointmentCreateFormDurationInput.tsx
  frontend/src/components/AppointmentCreate/AppointmentCreateFormTimeInput/AppointmentCreateFormTimeInput.tsx
  frontend/src/components/AppointmentCreate/AppointmentCreateFormTimeLimitInput/AppointmentCreateFormTimeLimitInput.tsx
  frontend/src/components/AppointmentCreate/AppointmentCreateFormTitleInput/AppointmentCreateFormTitleInput.tsx
  frontend/src/components/AppointmentProgress/AppointmentProgressTimePicker/AppointmentProgressTimePicker.tsx
  frontend/src/components/AppointmentResult/AppointmentResultRanking/AppointmentResultRanking.tsx
  frontend/src/components/Main/MainFeatureMenuContainer/MainFeatureMenuContainer.tsx
  frontend/src/components/PollCreate/PollCreateCloseTimeInput/PollCreateCloseTimeInput.tsx
  frontend/src/components/PollCreate/PollCreateFormTitleInput/PollCreateFormTitleInput.tsx
  frontend/src/components/PollMain/PollMainContainer/PollMainContainer.tsx
  frontend/src/components/PollMain/PollMainProgress/PollMainProgress.tsx
  frontend/src/components/PollProgress/PollProgressItemGroup/PollProgressItemGroup.tsx
  frontend/src/components/PollResult/PollResultItemGroup/PollResultItemGroup.tsx
  frontend/src/components/PollResult/PollResultStatus/PollResultStatus.tsx
  frontend/webpack.common.js
Labels: ♻️ 리팩토링, 💻 frontend

#430 feat: 메인페이지 UI 개선
  frontend/src/assets/appointment.svg
  frontend/src/assets/poll.svg
  frontend/src/assets/role.svg
  frontend/src/pages/MainPage/MainPage.styles.tsx
  frontend/src/pages/MainPage/MainPage.tsx
  frontend/src/pages/MainPage/components/MainFeatureMenu/MainFeatureMenu.style.tsx
  frontend/src/pages/MainPage/components/MainFeatureMenu/MainFeatureMenu.tsx
  frontend/src/pages/MainPage/components/MainFeatureMenuContainer/MainFeatureMenuContainer.styles.tsx
  frontend/src/pages/MainPage/components/MainFeatureMenuContainer/MainFeatureMenuContainer.tsx
  frontend/src/pages/MainPage/components/MainFeatureMenuHeader/MainFeatureMenuHeader.styles.tsx
  frontend/src/pages/MainPage/components/MainFeatureMenuHeader/MainFeatureMenuHeader.tsx
Labels: ✨ 기능, 💻 frontend

#435 refactor: css를 별도의 파일로 분리
  frontend/src/layouts/SidebarLayout/components/Sidebar/Sidebar.styles.tsx
  frontend/src/layouts/SidebarLayout/components/Sidebar/Sidebar.tsx
  frontend/src/layouts/SidebarLayout/components/SidebarFeatureMenu/SidebarFeatureMenu.styles.tsx
  frontend/src/layouts/SidebarLayout/components/SidebarFeatureMenu/SidebarFeatureMenu.tsx
  frontend/src/layouts/SidebarLayout/components/SidebarGroupsMenu/SidebarGroupsMenu.styles.tsx
  frontend/src/layouts/SidebarLayout/components/SidebarGroupsMenu/SidebarGroupsMenu.tsx
  frontend/src/layouts/SidebarLayout/components/SidebarInvitationMenu/SidebarInvitationMenu.styles.tsx
  frontend/src/layouts/SidebarLayout/components/SidebarInvitationMenu/SidebarInvitationMenu.tsx
  frontend/src/layouts/SidebarLayout/components/SidebarLogoutMenu/SidebarLogoutMenu.styles.tsx
  frontend/src/layouts/SidebarLayout/components/SidebarLogoutMenu/SidebarLogoutMenu.tsx
  frontend/src/layouts/SidebarLayout/components/SidebarMembersProfileMenu/SidebarMembersProfileMenu.styles.tsx
  frontend/src/layouts/SidebarLayout/components/SidebarMembersProfileMenu/SidebarMembersProfileMenu.tsx
  frontend/src/layouts/SidebarLayout/components/SidebarMenuModals/SidebarMenuModals.styles.tsx
  frontend/src/layouts/SidebarLayout/components/SidebarMenuModals/SidebarMenuModals.tsx
  frontend/src/layouts/SidebarLayout/components/SidebarSlackMenu/SidebarSlackMenu.styles.tsx
  frontend/src/layouts/SidebarLayout/components/SidebarSlackMenu/SidebarSlackMenu.tsx
  frontend/src/pages/MainPage/components/MainFeatureMenu/MainFeatureMenu.styles.tsx
  frontend/src/pages/MainPage/components/MainFeatureMenu/MainFeatureMenu.tsx
Labels: ♻️ 리팩토링, 💻 frontend

#402 refactor: 약속잡기를 제외한 나머지 도메인의 쿼리 성능을 개선한다
  backend/src/main/java/com/morak/back/appointment/application/AppointmentService.java
  backend/src/main/java/com/morak/back/appointment/domain/AppointmentRepository.java
  backend/src/main/java/com/morak/back/appointment/domain/AvailableTimeRepository.java
  backend/src/main/java/com/morak/back/poll/application/PollService.java
  backend/src/main/java/com/morak/back/poll/domain/Poll.java
  backend/src/main/java/com/morak/back/poll/domain/PollItemRepository.java
  backend/src/main/java/com/morak/back/poll/domain/PollRepository.java
  backend/src/main/java/com/morak/back/team/application/TeamService.java
  backend/src/main/java/com/morak/back/team/domain/TeamMemberRepository.java
  backend/src/test/java/com/morak/back/appointment/domain/AppointmentRepositoryTest.java
  backend/src/test/java/com/morak/back/core/application/NotificationServiceTest.java
  backend/src/test/java/com/morak/back/poll/application/PollServiceTest.java
  backend/src/test/java/com/morak/back/poll/domain/PollItemRepositoryTest.java
  backend/src/test/java/com/morak/back/poll/domain/PollRepositoryTest.java
  backend/src/test/java/com/morak/back/team/acceptance/TeamAcceptanceTest.java
  backend/src/test/java/com/morak/back/team/application/TeamServiceTest.java
  backend/src/test/java/com/morak/back/team/domain/TeamMemberRepositoryTest.java
  backend/src/test/resources/application.yml
Labels: ♻️ 리팩토링, 💻 backend

#442 feat(poll): 투표 생성시 마감 시간 기본값 설정
  frontend/src/pages/PollCreatePage/components/PollCreateCloseTimeInput/PollCreateCloseTimeInput.tsx
  frontend/src/pages/PollCreatePage/components/PollCreateForm/PollCreateForm.tsx
Labels: ✨ 기능, 💻 frontend

#440 feat: 전반적인 에러핸들링
  frontend/cypress/e2e/appointment.cy.ts
  frontend/cypress/e2e/poll.cy.ts
  frontend/src/api/axios.ts
  frontend/src/layouts/SidebarLayout/components/Sidebar/Sidebar.tsx
  frontend/src/layouts/SidebarLayout/components/SidebarGroupsMenu/SidebarGroupsMenu.tsx
  frontend/src/layouts/SidebarLayout/components/SidebarInvitationMenu/SidebarInvitationMenu.tsx
  frontend/src/layouts/SidebarLayout/components/SidebarMembersProfileMenu/SidebarMembersProfileMenu.tsx
  frontend/src/layouts/SidebarLayout/components/SidebarMenuModals/SidebarMenuModals.tsx
  frontend/src/pages/AppointmentCreatePage/components/AppointmentCreateForm/AppointmentCreateForm.tsx
  frontend/src/pages/AppointmentMainPage/components/AppointmentMainContainer/AppointmentMainContainer.tsx
  frontend/src/pages/AppointmentMainPage/components/AppointmentMainProgress/AppointmentMainProgress.tsx
  frontend/src/pages/AppointmentProgressPage/AppointmentProgressPage.tsx
  frontend/src/pages/AppointmentResultPage/AppointmentResultPage.tsx
  frontend/src/pages/AppointmentResultPage/components/AppointmentResultButtonGroup/AppointmentResultButtonGroup.tsx
  frontend/src/pages/AppointmentResultPage/components/AppointmentResultRanking/AppointmentResultRanking.tsx
  frontend/src/pages/GroupInitPage/GroupInitPage.tsx
  frontend/src/pages/GroupInitPage/components/GroupCreateForm/GroupCreateForm.tsx
  frontend/src/pages/GroupInitPage/components/GroupParticipateForm/GroupParticipateForm.tsx
  frontend/src/pages/InvitationPage/components/InvitationButtonGroup/InvitationButtonGroup.tsx
  frontend/src/pages/InvitationPage/components/InvitationContainer/InvitationContainer.tsx
  frontend/src/pages/LandingPage/LandingPage.tsx
  frontend/src/pages/PollCreatePage/components/PollCreateForm/PollCreateForm.tsx
  frontend/src/pages/PollMainPage/components/PollMainContainer/PollMainContainer.tsx
  frontend/src/pages/PollMainPage/components/PollMainProgress/PollMainProgress.tsx
  frontend/src/pages/PollProgressPage/components/PollProgressButtonGroup/PollProgressButtonGroup.tsx
  frontend/src/pages/PollProgressPage/components/PollProgressForm/PollProgressForm.tsx
  frontend/src/pages/PollResultPage/components/PollResultButtonGroup/PollResultButtonGroup.tsx
  frontend/src/pages/PollResultPage/components/PollResultContainer/PollResultContainer.tsx
  frontend/src/pages/PollResultPage/components/PollResultProgress/PollResultProgress.tsx
  frontend/src/utils/clipboard.ts
  frontend/src/utils/number.ts
  frontend/src/utils/storage.ts
Labels: ✨ 기능, 💻 frontend

#452 feat: 역할 기능을 만든다.
  backend/src/docs/asciidoc/index.adoc
  backend/src/main/java/com/morak/back/core/exception/CustomErrorCode.java
  backend/src/main/java/com/morak/back/role/application/RoleService.java
  backend/src/main/java/com/morak/back/role/application/dto/HistoryResponse.java
  backend/src/main/java/com/morak/back/role/application/dto/RoleNameEditRequest.java
  backend/src/main/java/com/morak/back/role/application/dto/RoleNameResponses.java
  backend/src/main/java/com/morak/back/role/application/dto/RoleResponse.java
  backend/src/main/java/com/morak/back/role/application/dto/RolesResponse.java
  backend/src/main/java/com/morak/back/role/domain/RandomShuffleStrategy.java
  backend/src/main/java/com/morak/back/role/domain/Role.java
  backend/src/main/java/com/morak/back/role/domain/RoleHistories.java
  backend/src/main/java/com/morak/back/role/domain/RoleHistory.java
  backend/src/main/java/com/morak/back/role/domain/RoleName.java
  backend/src/main/java/com/morak/back/role/domain/RoleNames.java
  backend/src/main/java/com/morak/back/role/domain/RoleRepository.java
  backend/src/main/java/com/morak/back/role/domain/ShuffleStrategy.java
  backend/src/main/java/com/morak/back/role/exception/RoleDomainLogicException.java
  backend/src/main/java/com/morak/back/role/exception/RoleNotFoundException.java
  backend/src/main/java/com/morak/back/role/ui/RoleController.java
  backend/src/main/java/com/morak/back/team/application/TeamService.java
  backend/src/main/java/com/morak/back/team/domain/TeamCreateEvent.java
  backend/src/main/resources/schema-dev.sql
  backend/src/main/resources/schema-local.sql
  backend/src/test/java/com/morak/back/SimpleRestAssured.java
  backend/src/test/java/com/morak/back/role/acceptance/RoleAcceptanceTest.java
  backend/src/test/java/com/morak/back/role/application/RoleServiceTest.java
  backend/src/test/java/com/morak/back/role/domain/RoleHistoriesTest.java
  backend/src/test/java/com/morak/back/role/domain/RoleNameTest.java
  backend/src/test/java/com/morak/back/role/domain/RoleNamesTest.java
  backend/src/test/java/com/morak/back/role/domain/RoleRepositoryTest.java
  backend/src/test/java/com/morak/back/role/domain/RoleTest.java
  backend/src/test/java/com/morak/back/role/ui/RoleControllerTest.java
  backend/src/test/java/com/morak/back/team/acceptance/TeamAcceptanceTest.java
  backend/src/test/java/com/morak/back/team/application/TeamServiceTest.java
  backend/src/test/resources/data.sql
  backend/src/test/resources/schema.sql
Labels: ✨ 기능

#443 feat: 랜딩페이지 모바일 사이즈 대응
  frontend/src/pages/LandingPage/components/LandingFeatureIntroductionSection/LandingFeatureIntroductionSection.styles.tsx
  frontend/src/pages/LandingPage/components/LandingFeatureIntroductionSection/LandingFeatureIntroductionSection.tsx
  frontend/src/pages/LandingPage/components/LandingMainSection/LandingMainSection.styles.tsx
  frontend/src/pages/LandingPage/components/LandingMainSection/LandingMainSection.tsx
  frontend/src/pages/LandingPage/components/LandingNavbar/LandingNavbar.styles.tsx
  frontend/src/pages/LandingPage/components/LandingServiceIntroductionSection/LandingServiceIntroductionSection.styles.tsx
  frontend/src/pages/LandingPage/components/LandingServiceIntroductionSection/LandingServiceIntroductionSection.tsx
  frontend/src/styles/GlobalStyle.tsx
  frontend/src/utils/responsive.ts
Labels: ✨ 기능, 💻 frontend

#455 feat(role): 역할 정하기 API 연결
  frontend/src/App.tsx
  frontend/src/api/group.ts
  frontend/src/assets/deleted-user.svg
  frontend/src/context/GroupMembersProvider.tsx
  frontend/src/hooks/useGroupMembersContext.ts
  frontend/src/hooks/useGroupMembersDispatchContext.ts
  frontend/src/index.tsx
  frontend/src/layouts/SidebarLayout/SidebarLayout.tsx
  frontend/src/layouts/SidebarLayout/components/Sidebar/Sidebar.tsx
  frontend/src/layouts/SidebarLayout/components/SidebarMembersProfileMenu/SidebarMembersProfileMenu.tsx
  frontend/src/pages/AppointmentCreatePage/components/AppointmentCreateForm/AppointmentCreateForm.tsx
  frontend/src/pages/AppointmentCreatePage/components/AppointmentCreateForm/temp.style.ts
  frontend/src/pages/AppointmentMainPage/components/AppointmentMainContainer/AppointmentMainContainer.tsx
  frontend/src/pages/AppointmentMainPage/components/AppointmentMainProgress/AppointmentMainProgress.tsx
  frontend/src/pages/AppointmentResultPage/AppointmentResultPage.tsx
  frontend/src/pages/AppointmentResultPage/components/AppointmentResultRanking/AppointmentResultRanking.tsx
  frontend/src/pages/PollMainPage/components/PollMainContainer/PollMainContainer.tsx
  frontend/src/pages/PollMainPage/components/PollMainProgress/PollMainProgress.tsx
  frontend/src/pages/PollResultPage/components/PollResultContainer/PollResultContainer.tsx
  frontend/src/pages/PollResultPage/components/PollResultProgress/PollResultProgress.tsx
  frontend/src/pages/RoleMainPage/RoleMainPage.tsx
  frontend/src/pages/RoleMainPage/components/RoleMainHeader/RoleMainHeader.tsx
  frontend/src/pages/RoleMainPage/components/RoleMainProgress/RoleMainProgress.styles.tsx
  frontend/src/pages/RoleMainPage/components/RoleMainProgress/RoleMainProgress.tsx
  frontend/src/pages/RoleMainPage/components/RoleMainResult/RoleMainResult.styles.tsx
  frontend/src/pages/RoleMainPage/components/RoleMainResult/RoleMainResult.tsx
  frontend/src/pages/RoleMainPage/components/RoleMainRoleEditModal/RoleMainRoleEditModal.styles.tsx
  frontend/src/pages/RoleMainPage/components/RoleMainRoleEditModal/RoleMainRoleEditModal.tsx
  frontend/src/routes/GroupRoute.tsx
  frontend/src/routes/MenuRoute.tsx
  frontend/src/types/role.ts
Labels: ✨ 기능, 💻 frontend

#463 dev 테스트용 젠킨스파일 추가
  .gitignore
  jenkins/jenkinsfile
Labels: 💻 backend, 🍊 인프라

#422 feat(auth): 본인 이름 변경 API 구현
  backend/src/docs/asciidoc/index.adoc
  backend/src/main/java/com/morak/back/auth/application/OAuthService.java
  backend/src/main/java/com/morak/back/auth/domain/Member.java
  backend/src/main/java/com/morak/back/auth/domain/MemberRepository.java
  backend/src/main/java/com/morak/back/auth/ui/OAuthController.java
  backend/src/main/java/com/morak/back/auth/ui/dto/ChangeNameRequest.java
  backend/src/test/java/com/morak/back/SimpleRestAssured.java
  backend/src/test/java/com/morak/back/auth/acceptance/OAuthAcceptanceTest.java
  backend/src/test/java/com/morak/back/auth/application/OAuthServiceTest.java
  backend/src/test/java/com/morak/back/auth/domain/MemberTest.java
  backend/src/test/java/com/morak/back/auth/ui/OAuthControllerTest.java
Labels: ✨ 기능, 💻 backend

#470 chore: jenkins 파일 이름 dev로 수정
  jenkins/jenkinsfile-dev
Labels: ♻️ 리팩토링, 💻 backend

#424 feat(team): 본인을 member list 에서 가장 앞에서 나오도록 변경
  backend/src/main/java/com/morak/back/team/application/TeamService.java
  backend/src/test/java/com/morak/back/team/application/TeamServiceTest.java
Labels: ✨ 기능, 💻 backend

#473 fix: role 관련 테이블 drop 쿼리 추가
  backend/src/main/resources/schema-dev.sql
  backend/src/main/resources/schema-local.sql
Labels: 🐛 버그, 💻 backend

#453 feat: 그룹 생성 및 참가 페이지 모바일 사이즈 대응
  frontend/src/components/TextField/TextField.styles.tsx
  frontend/src/pages/GroupInitPage/GroupInitPage.styles.tsx
  frontend/src/pages/GroupInitPage/GroupInitPage.tsx
  frontend/src/pages/GroupInitPage/components/GroupCreateForm/GroupCreateForm.styles.tsx
  frontend/src/pages/GroupInitPage/components/GroupCreateForm/GroupCreateForm.tsx
  frontend/src/pages/GroupInitPage/components/GroupCreateFormNameInput/GroupCreateFormNameInput.tsx
  frontend/src/pages/GroupInitPage/components/GroupCreateFormSubmitButton/GroupCreateFormSubmitButton.styles.tsx
  frontend/src/pages/GroupInitPage/components/GroupInitContainer/GroupInitContainer.styles.tsx
  frontend/src/pages/GroupInitPage/components/GroupInitContainer/GroupInitContainer.tsx
  frontend/src/pages/GroupInitPage/components/GroupPariticipateFormSubmitButton/GroupParticipateFormSubmitButton.styles.tsx
  frontend/src/pages/GroupInitPage/components/GroupParticipateForm/GroupParticipateForm.styles.tsx
  frontend/src/pages/GroupInitPage/components/GroupParticipateForm/GroupParticipateForm.tsx
  frontend/src/pages/GroupInitPage/components/GroupParticipateInvitationCodeInput/GroupParticipateInvitationCodeInput.tsx
  frontend/src/pages/LandingPage/components/LandingFeatureIntroductionSection/LandingFeatureIntroductionSection.styles.tsx
  frontend/src/pages/LandingPage/components/LandingFeatureIntroductionSection/LandingFeatureIntroductionSection.tsx
Labels: ✨ 기능, 💻 frontend

#469 feat(appointment): 약속 진행 시간 표시 문구 변경
  frontend/src/pages/AppointmentMainPage/components/AppointmentMainDetail/AppointmentMainDetail.tsx
  frontend/src/pages/AppointmentProgressPage/components/AppointmentProgressDetail/AppointmentProgressDetail.tsx
  frontend/src/pages/AppointmentProgressPage/components/AppointmentProgressHeader/AppointmentProgressHeader.styles.tsx
  frontend/src/utils/date.ts
Labels: ♻️ 리팩토링, 💻 frontend

#490 chore: cors origin 설정할 수 있도록 변경
  backend/src/main/java/com/morak/back/core/config/WebConfig.java
  backend/src/test/resources/application.yml
Labels: ✨ 기능, 💻 backend

#464 feat: 에러페이지 구현
  frontend/src/App.tsx
  frontend/src/assets/not-found-animation.json
  frontend/src/pages/ErrorPage/ErrorPage.styles.tsx
  frontend/src/pages/ErrorPage/ErrorPage.tsx
  frontend/src/pages/ErrorPage/components/ErrorPageButtonGroup/ErrorPageButtonGroup.tsx
  frontend/src/pages/ErrorPage/components/ErrorPageContainer/ErrorPageContainer.styles.tsx
  frontend/src/pages/ErrorPage/components/ErrorPageContainer/ErrorPageContainer.tsx
Labels: ✨ 기능, 💻 frontend

#479 fix: 사이드바의 멤버목록이 다른 요소와 겹치는 문제 해결
  frontend/src/layouts/SidebarLayout/components/Sidebar/Sidebar.styles.tsx
  frontend/src/layouts/SidebarLayout/components/Sidebar/Sidebar.tsx
  frontend/src/layouts/SidebarLayout/components/SidebarFeaturesMenu/SidebarFeaturesMenu.styles.tsx
  frontend/src/layouts/SidebarLayout/components/SidebarFeaturesMenu/SidebarFeaturesMenu.tsx
  frontend/src/layouts/SidebarLayout/components/SidebarGroupsMenu/SidebarGroupsMenu.styles.tsx
  frontend/src/layouts/SidebarLayout/components/SidebarInvitationMenu/SidebarInvitationMenu.styles.tsx
  frontend/src/layouts/SidebarLayout/components/SidebarMembersProfileMenu/SidebarMembersProfileMenu.styles.tsx
  frontend/src/layouts/SidebarLayout/components/SidebarMembersProfileMenu/SidebarMembersProfileMenu.tsx
  frontend/src/layouts/SidebarLayout/components/SidebarModals/SidebarModals.styles.tsx
  frontend/src/layouts/SidebarLayout/components/SidebarModals/SidebarModals.tsx
  frontend/src/pages/LandingPage/LandingPage.styles.tsx
Labels: 🐛 버그, 💻 frontend

#482 fix: 역할 중복 시에도 역할 정하기가 가능하도록 수정
  backend/src/main/java/com/morak/back/role/application/RoleService.java
  backend/src/main/java/com/morak/back/role/application/dto/HistoryResponse.java
  backend/src/main/java/com/morak/back/role/application/dto/RoleNameEditRequest.java
  backend/src/main/java/com/morak/back/role/application/dto/RoleResponse.java
  backend/src/main/java/com/morak/back/role/domain/RandomShuffleStrategy.java
  backend/src/main/java/com/morak/back/role/domain/RoleHistories.java
  backend/src/main/java/com/morak/back/role/domain/RoleHistory.java
  backend/src/main/java/com/morak/back/role/domain/RoleMatchResult.java
  backend/src/main/java/com/morak/back/role/domain/RoleName.java
  backend/src/main/java/com/morak/back/role/domain/RoleNames.java
  backend/src/main/java/com/morak/back/role/domain/RoleRepository.java
  backend/src/main/java/com/morak/back/role/exception/RoleNotFoundException.java
  backend/src/main/java/com/morak/back/role/ui/RoleController.java
  backend/src/main/resources/schema-dev.sql
  backend/src/main/resources/schema-local.sql
  backend/src/test/java/com/morak/back/role/acceptance/RoleAcceptanceTest.java
  backend/src/test/java/com/morak/back/role/application/RoleServiceTest.java
  backend/src/test/java/com/morak/back/role/domain/RoleHistoriesTest.java
  backend/src/test/java/com/morak/back/role/domain/RoleHistoryTest.java
  backend/src/test/java/com/morak/back/role/domain/RoleRepositoryTest.java
  backend/src/test/java/com/morak/back/role/domain/RoleTest.java
  backend/src/test/java/com/morak/back/role/ui/RoleControllerTest.java
  backend/src/test/resources/data.sql
  backend/src/test/resources/schema.sql
Labels: ♻️ 리팩토링, 💻 backend

#471 chore: hikari cp 및 톰캣 설정
  backend/src/main/resources/application.yml
Labels: 💻 backend, 🍊 인프라

#496 chore: prometheus 모니터링
  backend/build.gradle
  backend/src/main/java/com/morak/back/core/config/WebConfig.java
  backend/src/main/resources/application.yml
  backend/src/test/resources/application.yml
Labels: ✨ 기능, 💻 backend

#487 chore: 젠킨스 CD 를 파이프라인으로 전환한다.
  jenkins/jenkinsfile-dev
  jenkins/jenkinsfile-prd
Labels: 💻 backend, 🍊 인프라

#501 hotfix: 젠킨스 버그를 수정한다.
  jenkins/jenkinsfile-dev
  jenkins/jenkinsfile-prd
Labels: 🐛 버그, 💻 backend

#491 feat: 프로젝트 전반에 로딩을 적용한다.
  frontend/src/App.tsx
  frontend/src/assets/spinner.json
  frontend/src/components/Spinner/Spinner.styles.tsx
  frontend/src/components/Spinner/Spinner.tsx
  frontend/src/layouts/NavigationLayout/components/Sidebar/Sidebar.tsx
  frontend/src/pages/AppointmentProgressPage/AppointmentProgressPage.tsx
  frontend/src/pages/AppointmentResultPage/AppointmentResultPage.tsx
  frontend/src/pages/AppointmentResultPage/components/AppointmentResultRanking/AppointmentResultRanking.tsx
  frontend/src/pages/FallbackPage/FallbackPage.styles.tsx
  frontend/src/pages/FallbackPage/FallbackPage.tsx
  frontend/src/pages/PollProgressPage/components/PollProgressForm/PollProgressForm.styles.tsx
  frontend/src/pages/PollProgressPage/components/PollProgressForm/PollProgressForm.tsx
  frontend/src/pages/PollProgressPage/components/PollProgressItemGroup/PollProgressItemGroup.tsx
  frontend/src/pages/PollResultPage/components/PollResultContainer/PollResultContainer.styles.tsx
  frontend/src/pages/PollResultPage/components/PollResultContainer/PollResultContainer.tsx
  frontend/src/pages/RoleMainPage/RoleMainPage.tsx
  frontend/src/pages/RoleMainPage/components/RoleMainResult/RoleMainResult.styles.tsx
  frontend/src/pages/RoleMainPage/components/RoleMainResult/RoleMainResult.tsx
  frontend/src/pages/RoleMainPage/components/RoleMainRoles/RoleMainRoles.tsx
Labels: ✨ 기능, 💻 frontend

#504 fix: 전반적인 오류들을 수정
  frontend/src/components/Calendar/Calendar.tsx
  frontend/src/hooks/useAuthContext.ts
  frontend/src/hooks/useAuthDispatchContext.ts
  frontend/src/hooks/useModal.ts
  frontend/src/layouts/NavigationLayout/components/SidebarEditUsernameModal/SidebarEditUsernameModal.styles.tsx
  frontend/src/layouts/NavigationLayout/components/SidebarEditUsernameModal/SidebarEditUsernameModal.tsx
  frontend/src/layouts/NavigationLayout/components/SidebarEditUsernameModalButtonGroup/SidebarEditUsernameModalButtonGroup.styles.tsx
  frontend/src/layouts/NavigationLayout/components/SidebarEditUsernameModalButtonGroup/SidebarEditUsernameModalButtonGroup.tsx
  frontend/src/layouts/NavigationLayout/components/SidebarEditUsernameModalUsernameInput/SidebarEditUsernameModalUsernameInput.styles.tsx
  frontend/src/layouts/NavigationLayout/components/SidebarEditUsernameModalUsernameInput/SidebarEditUsernameModalUsernameInput.tsx
  frontend/src/layouts/NavigationLayout/components/SidebarMembersProfileMenu/SidebarMembersProfileMenu.styles.tsx
  frontend/src/layouts/NavigationLayout/components/SidebarMembersProfileMenu/SidebarMembersProfileMenu.tsx
  frontend/src/pages/AppointmentProgressPage/AppointmentProgressPage.tsx
  frontend/src/pages/InvitationPage/components/InvitationContainer/InvitationContainer.tsx
  frontend/src/routes/GroupRoute.tsx
Labels: 🐛 버그, 💻 frontend

#503 refactor: 사이드바 UI 속성 수정
  frontend/src/layouts/NavigationLayout/components/Sidebar/Sidebar.styles.tsx
  frontend/src/layouts/NavigationLayout/components/Sidebar/Sidebar.tsx
  frontend/src/layouts/NavigationLayout/components/SidebarFeaturesMenu/SidebarFeaturesMenu.styles.tsx
  frontend/src/layouts/NavigationLayout/components/SidebarFeaturesMenu/SidebarFeaturesMenu.tsx
  frontend/src/layouts/NavigationLayout/components/SidebarGroupsMenu/SidebarGroupsMenu.styles.tsx
  frontend/src/layouts/NavigationLayout/components/SidebarInvitationMenu/SidebarInvitationMenu.styles.tsx
  frontend/src/layouts/NavigationLayout/components/SidebarMembersProfileMenu/SidebarMembersProfileMenu.styles.tsx
  frontend/src/layouts/NavigationLayout/components/SidebarMembersProfileMenu/SidebarMembersProfileMenu.tsx
Labels: ♻️ 리팩토링, 💻 frontend

#505 feat: 설명이 필요한 곳에 tooltip 추가
  frontend/src/components/Tooltip/Tooltip.styles.tsx
  frontend/src/pages/AppointmentResultPage/components/AppointmentResultButtonGroup/AppointmentResultButtonGroup.tsx
  frontend/src/pages/AppointmentResultPage/components/AppointmentResultHeader/AppointmentResultHeader.styles.tsx
  frontend/src/pages/AppointmentResultPage/components/AppointmentResultHeader/AppointmentResultHeader.tsx
  frontend/src/pages/AppointmentResultPage/components/AppointmentResultStatus/AppointmentResultStatus.tsx
  frontend/src/pages/PollResultPage/components/PollResultContainer/PollResultContainer.styles.tsx
  frontend/src/pages/PollResultPage/components/PollResultContainer/PollResultContainer.tsx
Labels: ✨ 기능, 💻 frontend

#508 refactor: 화면 사이즈에 따라 리스트가 깨지지않도록 대응
  frontend/src/pages/AppointmentMainPage/components/AppointmentMainContainer/AppointmentMainContainer.styles.tsx
  frontend/src/pages/AppointmentMainPage/components/AppointmentMainContainer/AppointmentMainContainer.tsx
  frontend/src/pages/PollMainPage/components/PollMainContainer/PollMainContainer.styles.tsx
  frontend/src/pages/PollMainPage/components/PollMainContainer/PollMainContainer.tsx
Labels: ♻️ 리팩토링, 💻 frontend

#509 hotfix: 젠킨스 파이프라인 버그를 수정한다.
  jenkins/jenkinsfile-prd
Labels: 💻 backend, 🍊 인프라

#512 fix: 프론트엔드 QA 대응
  frontend/src/layouts/NavigationLayout/components/SidebarMembersProfileMenu/SidebarMembersProfileMenu.styles.tsx
  frontend/src/pages/PollResultPage/components/PollResultButtonGroup/PollResultButtonGroup.tsx
  frontend/src/pages/PollResultPage/components/PollResultContainer/PollResultContainer.tsx
Labels: 🐛 버그, 💻 frontend

#515 hotfix: 멤버 이름 수정 아이콘 위치 수정
  frontend/src/layouts/NavigationLayout/components/SidebarMembersProfileMenu/SidebarMembersProfileMenu.styles.tsx
  frontend/src/layouts/NavigationLayout/components/SidebarMembersProfileMenu/SidebarMembersProfileMenu.tsx
Labels: 🐛 버그, 💻 frontend

#521 hotfix: 중복되는 key 수정
  frontend/src/pages/PollResultPage/components/PollResultParticipantModal/PollResultParticipantModal.tsx
Labels: 🐛 버그, 💻 frontend

#526 refactor: 툴팁 컴포넌트 리팩토링
  frontend/src/components/Tooltip/Tooltip.styles.tsx
  frontend/src/pages/AppointmentCreatePage/components/AppointmentCreateFormTimeLimitInput/AppointmentCreateFormTimeLimitInput.styles.tsx
  frontend/src/pages/AppointmentCreatePage/components/AppointmentCreateFormTimeLimitInput/AppointmentCreateFormTimeLimitInput.tsx
  frontend/src/pages/AppointmentResultPage/components/AppointmentResultButtonGroup/AppointmentResultButtonGroup.tsx
  frontend/src/pages/AppointmentResultPage/components/AppointmentResultHeader/AppointmentResultHeader.tsx
  frontend/src/pages/PollResultPage/components/PollResultContainer/PollResultContainer.tsx
Labels: 🐛 버그, ♻️ 리팩토링, 💻 frontend

#528 feat: 약속 진행시간 header 추가 및 수정
  frontend/src/pages/AppointmentCreatePage/components/AppointmentCreateForm/AppointmentCreateForm.tsx
  frontend/src/pages/AppointmentCreatePage/components/AppointmentCreateFormDurationInput/AppointmentCreateFormDurationInput.styles.tsx
  frontend/src/pages/AppointmentCreatePage/components/AppointmentCreateFormDurationInput/AppointmentCreateFormDurationInput.tsx
  frontend/src/pages/AppointmentProgressPage/components/AppointmentProgressDetail/AppointmentProgressDetail.tsx
Labels: ✨ 기능, 💻 frontend

#524 fix: navigation bar의 메뉴 상태가 업데이트 되도록 수정
  frontend/src/App.tsx
  frontend/src/context/GroupMembersProvider.tsx
  frontend/src/context/NavigationBarProvider.tsx
  frontend/src/hooks/useMenuContext.ts
  frontend/src/hooks/useMenuDispatchContext.ts
  frontend/src/hooks/useNavigationBarContext.ts
  frontend/src/hooks/useNavigationBarDispatchContext.ts
  frontend/src/layouts/NavigationLayout/NavigationLayout.tsx
  frontend/src/layouts/NavigationLayout/components/GlobalFootbarFootbar/GlobalFootbarFootbar.tsx
  frontend/src/layouts/NavigationLayout/components/GlobalFootbarFootbarDrawer/GlobalFootbarFootbarDrawer.tsx
  frontend/src/layouts/NavigationLayout/components/GlobalFootbarFootbarDrawerFeaturesSection/GlobalFootbarFootbarDrawerFeaturesSection.tsx
  frontend/src/layouts/NavigationLayout/components/GlobalFootbarFootbarDrawerModals/GlobalFootbarFootbarDrawerModals.tsx
  frontend/src/layouts/NavigationLayout/components/SidebarFeaturesMenu/SidebarFeaturesMenu.tsx
  frontend/src/layouts/NavigationLayout/components/SidebarGroupsMenu/SidebarGroupsMenu.tsx
  frontend/src/layouts/NavigationLayout/components/SidebarModals/SidebarModals.tsx
  frontend/src/pages/MainPage/components/MainFeatureMenuContainer/MainFeatureMenuContainer.tsx
  frontend/src/routes/GroupRoute.tsx
  frontend/src/routes/MenuRoute.tsx
  frontend/src/types/menu.ts
Labels: 🐛 버그, ♻️ 리팩토링, 💻 frontend

#541 fix: 알림 서비스가 동작하지 않는 버그 수정
  backend/src/main/java/com/morak/back/notification/application/NotificationService.java
Labels: 🐛 버그, 💻 backend

#534 refactor: useModal을 프로젝트에 전체적으로 적용
  frontend/src/layouts/NavigationLayout/components/GlobalFootbarFootbarDrawerGroupsSection/GlobalFootbarFootbarDrawerGroupsSection.styles.tsx
  frontend/src/layouts/NavigationLayout/components/GlobalFootbarFootbarDrawerGroupsSection/GlobalFootbarFootbarDrawerGroupsSection.tsx
  frontend/src/layouts/NavigationLayout/components/SidebarGroupsMenu/SidebarGroupsMenu.styles.tsx
  frontend/src/layouts/NavigationLayout/components/SidebarGroupsMenu/SidebarGroupsMenu.tsx
  frontend/src/pages/RoleMainPage/components/RoleMainProgress/RoleMainProgress.tsx
Labels: ♻️ 리팩토링, 💻 frontend

#539 feat: 모달 스타일 추가
  frontend/src/components/Modal/Modal.styles.tsx
Labels: ✨ 기능, 💻 frontend

#549 feat: 랜딩페이지 문구 수정
  frontend/src/pages/LandingPage/components/LandingServiceIntroductionSection/LandingServiceIntroductionSection.tsx
Labels: ✨ 기능, 💻 frontend
