Repository woowacourse-teams/2022-mo-rak, pull requests merged in 2022-07, with the labels that each got.

#13 feat: OAuth 인증/인가 구현
  backend/build.gradle
  backend/src/main/java/com/morak/back/auth/application/AuthService.java
  backend/src/main/java/com/morak/back/auth/application/GithubOAuthClient.java
  backend/src/main/java/com/morak/back/auth/application/JwtTokenProvider.java
  backend/src/main/java/com/morak/back/auth/application/OAuthClient.java
  backend/src/main/java/com/morak/back/auth/application/OAuthService.java
  backend/src/main/java/com/morak/back/auth/application/TokenProvider.java
  backend/src/main/java/com/morak/back/auth/application/dto/OAuthAccessTokenRequest.java
  backend/src/main/java/com/morak/back/auth/application/dto/OAuthAccessTokenResponse.java
  backend/src/main/java/com/morak/back/auth/application/dto/OAuthMemberInfoResponse.java
  backend/src/main/java/com/morak/back/auth/config/AuthConfig.java
  backend/src/main/java/com/morak/back/auth/domain/Member2.java
  backend/src/main/java/com/morak/back/auth/domain/Member2Repository.java
  backend/src/main/java/com/morak/back/auth/exception/AuthorizationException.java
  backend/src/main/java/com/morak/back/auth/support/Auth.java
  backend/src/main/java/com/morak/back/auth/support/AuthorizationExtractor.java
  backend/src/main/java/com/morak/back/auth/ui/AuthInterceptor.java
  backend/src/main/java/com/morak/back/auth/ui/AuthResolver.java
  backend/src/main/java/com/morak/back/auth/ui/OAuthController.java
  backend/src/main/java/com/morak/back/auth/ui/OAuthControllerAdvice.java
  backend/src/main/java/com/morak/back/auth/ui/dto/SigninRequest.java
  backend/src/main/java/com/morak/back/auth/ui/dto/SigninResponse.java
  backend/src/main/java/com/morak/back/core/config/WebConfig.java
  backend/src/main/java/com/morak/back/poll/ui/PollController.java
  backend/src/main/resources/schema-dev.sql
  backend/src/main/resources/schema-local.sql
  backend/src/test/java/com/morak/back/auth/acceptance/OAuthAcceptanceTest.java
  backend/src/test/java/com/morak/back/auth/application/AuthServiceTest.java
  backend/src/test/java/com/morak/back/auth/application/JwtTokenProviderTest.java
  backend/src/test/java/com/morak/back/auth/application/OAuthServiceTest.java
  backend/src/test/java/com/morak/back/auth/domain/Member2RepositoryTest.java
  backend/src/test/java/com/morak/back/poll/acceptance/PollAcceptanceTest.java
  backend/src/test/resources/data.sql
  backend/src/test/resources/schema.sql
Labels: 기능, backend

#19 feat: 랜덤 코드 생성 기능 구현
  backend/build.gradle
  backend/src/main/java/com/morak/back/core/util/CodeGenerator.java
  backend/src/main/java/com/morak/back/poll/application/PollService.java
  backend/src/test/java/com/morak/back/core/util/CodeGeneratorTest.java
Labels: 기능, backend

#23 chore: 환경 변수 세팅
  backend/src/main/resources/application.yml
  backend/src/test/resources/application.yml
Labels: 기능, backend

#22 refactor: 멤버 도메인 변경
  backend/src/main/java/com/morak/back/auth/application/AuthService.java
  backend/src/main/java/com/morak/back/auth/application/OAuthService.java
  backend/src/main/java/com/morak/back/auth/application/dto/OAuthMemberInfoResponse.java
  backend/src/main/java/com/morak/back/auth/domain/Member.java
  backend/src/main/java/com/morak/back/auth/domain/Member2.java
  backend/src/main/java/com/morak/back/auth/domain/Member2Repository.java
  backend/src/main/java/com/morak/back/auth/domain/MemberRepository.java
  backend/src/main/java/com/morak/back/auth/ui/dto/MemberResponse.java
  backend/src/main/java/com/morak/back/poll/domain/PollItem.java
  backend/src/main/java/com/morak/back/poll/domain/PollResult.java
  backend/src/main/java/com/morak/back/poll/ui/dto/PollCreateRequest.java
  backend/src/main/java/com/morak/back/poll/ui/dto/PollResponse.java
  backend/src/main/resources/data-local.sql
  backend/src/main/resources/schema-dev.sql
  backend/src/main/resources/schema-local.sql
  backend/src/test/java/com/morak/back/auth/application/AuthServiceTest.java
  backend/src/test/java/com/morak/back/auth/application/OAuthServiceTest.java
  backend/src/test/java/com/morak/back/auth/domain/Member2RepositoryTest.java
  backend/src/test/java/com/morak/back/auth/domain/MemberRepositoryTest.java
  backend/src/test/java/com/morak/back/poll/application/PollServiceTest.java
  backend/src/test/java/com/morak/back/poll/domain/PollRepositoryTest.java
  backend/src/test/java/com/morak/back/poll/domain/PollResultRepositoryTest.java
  backend/src/test/java/com/morak/back/poll/domain/PollTest.java
  backend/src/test/java/com/morak/back/poll/support/DomainSupplier.java
  backend/src/test/resources/data.sql
  backend/src/test/resources/schema.sql
Labels: 리팩토링, backend

#27 refactor: 투표 기능에 OAuth 적용
  backend/src/main/java/com/morak/back/auth/config/AuthConfig.java
  backend/src/main/java/com/morak/back/poll/application/PollService.java
  backend/src/main/java/com/morak/back/poll/ui/PollController.java
  backend/src/main/resources/http-test.http
  backend/src/test/java/com/morak/back/poll/acceptance/PollAcceptanceTest.java
Labels: 리팩토링, backend

#29 feat: Json 역직렬화 예외 처리 추가
  backend/src/main/java/com/morak/back/core/exception/GlobalControllerAdvice.java
Labels: 기능, backend

#34 feat: 그룹 기능 추가
  backend/src/main/java/com/morak/back/auth/config/AuthConfig.java
  backend/src/main/java/com/morak/back/auth/domain/TeamMember.java
  backend/src/main/java/com/morak/back/auth/domain/TeamMemberRepository.java
  backend/src/main/java/com/morak/back/auth/domain/TeamRepository.java
  backend/src/main/java/com/morak/back/auth/ui/dto/MemberResponse.java
  backend/src/main/java/com/morak/back/poll/exception/PollException.java
  backend/src/main/java/com/morak/back/poll/exception/ResourceNotFoundException.java
  backend/src/main/java/com/morak/back/team/application/TeamService.java
  backend/src/main/java/com/morak/back/team/domain/ExpiredTime.java
  backend/src/main/java/com/morak/back/team/domain/InvitationCode.java
  backend/src/main/java/com/morak/back/team/domain/TeamInvitation.java
  backend/src/main/java/com/morak/back/team/domain/TeamInvitationRepository.java
  backend/src/main/java/com/morak/back/team/exception/AlreadyJoinedTeamException.java
  backend/src/main/java/com/morak/back/team/exception/ExpiredInvitationException.java
  backend/src/main/java/com/morak/back/team/exception/MismatchedTeamException.java
  backend/src/main/java/com/morak/back/team/exception/TeamException.java
  backend/src/main/java/com/morak/back/team/ui/TeamController.java
  backend/src/main/java/com/morak/back/team/ui/TeamControllerAdvice.java
  backend/src/main/java/com/morak/back/team/ui/dto/InvitationJoinedResponse.java
  backend/src/main/java/com/morak/back/team/ui/dto/TeamCreateRequest.java
  backend/src/main/java/com/morak/back/team/ui/dto/TeamResponse.java
  backend/src/main/resources/schema-local.sql
  backend/src/test/java/com/morak/back/team/acceptance/TeamAcceptanceTest.java
  backend/src/test/java/com/morak/back/team/application/TeamServiceTest.java
  backend/src/test/java/com/morak/back/team/domain/TeamInvitationTest.java
  backend/src/test/resources/schema.sql
Labels: 기능, backend

#43 feat: 투표 기능에 선택 이유(description) 추가
  backend/src/main/java/com/morak/back/auth/domain/Member.java
  backend/src/main/java/com/morak/back/poll/application/PollService.java
  backend/src/main/java/com/morak/back/poll/domain/Poll.java
  backend/src/main/java/com/morak/back/poll/domain/PollItem.java
  backend/src/main/java/com/morak/back/poll/domain/PollResult.java
  backend/src/main/java/com/morak/back/poll/ui/PollController.java
  backend/src/main/java/com/morak/back/poll/ui/dto/MemberResultResponse.java
  backend/src/main/java/com/morak/back/poll/ui/dto/PollItemRequest.java
  backend/src/main/java/com/morak/back/poll/ui/dto/PollItemResponse.java
  backend/src/main/java/com/morak/back/poll/ui/dto/PollItemResultResponse.java
  backend/src/main/resources/data-local.sql
  backend/src/main/resources/http-test.http
  backend/src/main/resources/schema-dev.sql
  backend/src/main/resources/schema-local.sql
  backend/src/test/java/com/morak/back/poll/acceptance/PollAcceptanceTest.java
  backend/src/test/java/com/morak/back/poll/application/PollServiceTest.java
  backend/src/test/java/com/morak/back/poll/domain/PollResultRepositoryTest.java
  backend/src/test/java/com/morak/back/poll/domain/PollTest.java
  backend/src/test/resources/data.sql
  backend/src/test/resources/schema.sql
Labels: 기능, backend

#47 refactor: 그룹 기능 API 명세 변경
  backend/src/main/java/com/morak/back/auth/config/AuthConfig.java
  backend/src/main/java/com/morak/back/team/ui/TeamController.java
  backend/src/test/java/com/morak/back/team/acceptance/TeamAcceptanceTest.java
  backend/src/test/java/com/morak/back/team/application/TeamServiceTest.java
Labels: 리팩토링, backend

#51 refactor: authInterceptor와 authResolver 로직 변경
  backend/src/main/java/com/morak/back/auth/application/AuthService.java
  backend/src/main/java/com/morak/back/auth/application/JwtTokenProvider.java
  backend/src/main/java/com/morak/back/auth/application/TokenProvider.java
  backend/src/main/java/com/morak/back/auth/config/AuthConfig.java
  backend/src/main/java/com/morak/back/auth/ui/AuthInterceptor.java
  backend/src/main/java/com/morak/back/auth/ui/AuthResolver.java
  backend/src/test/java/com/morak/back/auth/application/AuthServiceTest.java
  backend/src/test/java/com/morak/back/auth/application/JwtTokenProviderTest.java
Labels: 리팩토링, backend

#53 feat: 투표 API 에 그룹 도메인 추가
  backend/src/main/java/com/morak/back/auth/config/AuthConfig.java
  backend/src/main/java/com/morak/back/auth/domain/TeamRepository.java
  backend/src/main/java/com/morak/back/poll/application/PollService.java
  backend/src/main/java/com/morak/back/poll/ui/PollController.java
  backend/src/test/java/com/morak/back/poll/acceptance/PollAcceptanceTest.java
  backend/src/test/java/com/morak/back/poll/application/PollServiceTest.java
Labels: 리팩토링, backend

#55 fix: oauth 로그인 시 회원이 중복 저장되는 버그 수정
  backend/build.gradle
  backend/src/docs/asciidoc/index.adoc
  backend/src/main/java/com/morak/back/auth/application/OAuthService.java
  backend/src/main/resources/schema-dev.sql
  backend/src/main/resources/schema-local.sql
  backend/src/test/java/com/morak/back/ApiDocumentUtils.java
  backend/src/test/java/com/morak/back/auth/domain/MemberRepositoryTest.java
  backend/src/test/resources/schema.sql
Labels: 버그, backend

#56 feat: OAuth 기능 구현
  frontend/src/App.tsx
  frontend/src/api/auth.ts
  frontend/src/assets/githubLogo.svg
  frontend/src/pages/HomePage/HomePage.tsx
  frontend/src/utils/localStorage.ts
Labels: 기능, frontend

#57 refactor: 로그인 API url 변경
  backend/src/main/java/com/morak/back/auth/ui/OAuthController.java
  backend/src/test/java/com/morak/back/auth/acceptance/OAuthAcceptanceTest.java
Labels: 리팩토링, backend

#70 feat: 로그인과 투표 기능에 restdocs 를 구현한다.
  backend/.gitignore
  backend/src/docs/asciidoc/index.adoc
  backend/src/main/java/com/morak/back/auth/ui/OAuthController.java
  backend/src/test/java/com/morak/back/auth/ui/OAuthControllerTest.java
  backend/src/test/java/com/morak/back/poll/ui/ControllerTest.java
  backend/src/test/java/com/morak/back/poll/ui/PollControllerTest.java
Labels: ✨ 기능, 💻 backend

#69 그룹 rest docs 테스트를 구현한다.
  backend/src/test/java/com/morak/back/team/ui/TeamControllerTest.java
Labels: ✨ 기능, 💻 backend

#84 fix: 테스트 실패하는 부분 수정
  backend/src/test/java/com/morak/back/auth/ui/OAuthControllerTest.java
Labels: 🐛 버그, 💻 backend

#93 feat: 그룹기능을 구현한다.
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/api/auth.ts
  frontend/src/api/group.ts
  frontend/src/api/poll.ts
  frontend/src/assets/appointment.svg
  frontend/src/assets/linkIcon.svg
  frontend/src/assets/poll.svg
  frontend/src/components/GroupCreateForm/GroupCreateForm.tsx
  frontend/src/components/GroupParticipateForm/GroupParticipateForm.tsx
  frontend/src/components/MembersProfile/MembersProfile.tsx
  frontend/src/components/PollCreateForm/PollCreateForm.tsx
  frontend/src/components/PollMainButtonGroup/PollMainButtonGroup.tsx
  frontend/src/components/PollMainContainer/PollMainContainer.tsx
  frontend/src/components/PollMainProgress/PollMainProgress.tsx
  frontend/src/components/PollParticipantModal/PollParticipantModal.tsx
  frontend/src/components/PollProgressForm/PollProgressForm.tsx
  frontend/src/components/PollProgressItemGroup/PollProgressItemGroup.tsx
  frontend/src/components/PollProgressSubmitButton/PollProgressSubmitButton.tsx
  frontend/src/components/PollResultButtonGroup/PollResultButtonGroup.tsx
  frontend/src/components/PollResultContainer/PollResultContainer.tsx
  frontend/src/components/PollResultItemGroup/PollResultItemGroup.tsx
  frontend/src/components/PollResultProgress/PollResultProgress.tsx
  frontend/src/components/Sidebar/Sidebar.tsx
  frontend/src/components/SidebarLayout/SidebarLayout.tsx
  frontend/src/components/common/Avatar/Avatar.tsx
  frontend/src/components/common/Progress/Progress.tsx
  frontend/src/components/common/Sidebar/Sidebar.tsx
  frontend/src/components/common/TextField/TextField.tsx
  frontend/src/contexts/PollContext.tsx
  frontend/src/pages/GroupInitPage/GroupInitPage.tsx
  frontend/src/pages/InvitationPage/InvitationPage.tsx
  frontend/src/pages/LandingPage/LandingPage.tsx
  frontend/src/pages/MainPage/MainPage.tsx
  frontend/src/pages/PollMainPage/PollMainPage.tsx
  frontend/src/pages/PollProgressPage/PollProgressPage.tsx
  frontend/src/pages/PollResultPage/PollResultPage.tsx
  frontend/src/routes/PrivateRoute.tsx
  frontend/src/styles/theme.ts
  frontend/src/types/group.ts
  frontend/src/types/poll.ts
  frontend/src/utils/clipboard.ts
  frontend/src/utils/fetcher.ts
  frontend/src/utils/storage.ts
  frontend/webpack.config.js
Labels: ✨ 기능, 💻 frontend

#109 feat: 약속 잡기 도메인 구현
  backend/src/main/java/com/morak/back/appointment/domain/Appointment.java
  backend/src/main/java/com/morak/back/appointment/domain/AppointmentRepository.java
  backend/src/main/java/com/morak/back/appointment/domain/AppointmentStatus.java
  backend/src/main/java/com/morak/back/appointment/domain/AvailableTime.java
  backend/src/main/java/com/morak/back/appointment/domain/AvailableTimeRepository.java
  backend/src/main/resources/application.yml
  backend/src/main/resources/schema-dev.sql
  backend/src/main/resources/schema-local.sql
  backend/src/test/java/com/morak/back/poll/domain/PollRepositoryTest.java
  backend/src/test/resources/schema.sql
Labels: ✨ 기능, 💻 backend

#111 refactor: 인수 테스트를 리팩토링한다.
  backend/src/test/java/com/morak/back/SimpleRestAssured.java
  backend/src/test/java/com/morak/back/auth/acceptance/OAuthAcceptanceTest.java
  backend/src/test/java/com/morak/back/auth/application/JwtTokenProviderTest.java
  backend/src/test/java/com/morak/back/auth/application/OAuthServiceTest.java
  backend/src/test/java/com/morak/back/auth/domain/MemberRepositoryTest.java
  backend/src/test/java/com/morak/back/core/util/CodeGeneratorTest.java
  backend/src/test/java/com/morak/back/poll/acceptance/PollAcceptanceTest.java
  backend/src/test/java/com/morak/back/poll/application/PollServiceTest.java
  backend/src/test/java/com/morak/back/team/acceptance/TeamAcceptanceTest.java
  backend/src/test/java/com/morak/back/team/application/TeamServiceTest.java
  backend/src/test/resources/application.yml
Labels: ♻️ 리팩토링, 💻 backend

#116 feat: 약속잡기 컨트롤러 테스트 및 RestDocs 문서 작성
  backend/src/docs/asciidoc/index.adoc
  backend/src/main/java/com/morak/back/appointment/domain/Appointment.java
  backend/src/main/java/com/morak/back/appointment/domain/AppointmentStatus.java
  backend/src/main/java/com/morak/back/appointment/ui/AppointmentController.java
  backend/src/main/java/com/morak/back/appointment/ui/dto/AppointmentAllResponse.java
  backend/src/main/java/com/morak/back/appointment/ui/dto/AppointmentCreateRequest.java
  backend/src/main/java/com/morak/back/appointment/ui/dto/AppointmentResponse.java
  backend/src/main/java/com/morak/back/appointment/ui/dto/AvailableTimeRequest.java
  backend/src/main/java/com/morak/back/appointment/ui/dto/RecommendationResponse.java
  backend/src/test/java/com/morak/back/appointment/domain/AppointmentStatusTest.java
  backend/src/test/java/com/morak/back/appointment/domain/AppointmentTest.java
  backend/src/test/java/com/morak/back/appointment/ui/AppointmentControllerTest.java
Labels: ✨ 기능, 💻 backend

#130 refactor: 약속잡기 도메인에 임베디드 적용 및 테스트 추가
  backend/src/main/java/com/morak/back/appointment/domain/Appointment.java
  backend/src/main/java/com/morak/back/appointment/domain/AppointmentRepository.java
  backend/src/main/java/com/morak/back/appointment/domain/AvailableTime.java
  backend/src/main/java/com/morak/back/appointment/domain/AvailableTimeRepository.java
  backend/src/main/java/com/morak/back/appointment/domain/DatePeriod.java
  backend/src/main/java/com/morak/back/appointment/domain/DateTimePeriod.java
  backend/src/main/java/com/morak/back/appointment/domain/DurationMinutes.java
  backend/src/main/java/com/morak/back/appointment/domain/TimePeriod.java
  backend/src/main/java/com/morak/back/appointment/ui/AppointmentController.java
  backend/src/test/java/com/morak/back/appointment/domain/AppointmentRepositoryTest.java
  backend/src/test/java/com/morak/back/appointment/domain/AppointmentTest.java
  backend/src/test/java/com/morak/back/appointment/domain/AvailableTimeRepositoryTest.java
  backend/src/test/java/com/morak/back/appointment/domain/DatePeriodTest.java
  backend/src/test/java/com/morak/back/appointment/domain/DateTimePeriodTest.java
  backend/src/test/java/com/morak/back/appointment/domain/DurationMinutesTest.java
  backend/src/test/java/com/morak/back/appointment/domain/TimePeriodTest.java
  backend/src/test/resources/data.sql
Labels: ♻️ 리팩토링, 💻 backend

#134 refactor: 도메인 리팩토링
  backend/src/main/java/com/morak/back/auth/application/dto/OAuthMemberInfoResponse.java
  backend/src/main/java/com/morak/back/auth/domain/Member.java
  backend/src/main/java/com/morak/back/auth/domain/MemberRepository.java
  backend/src/main/java/com/morak/back/auth/ui/AuthResolver.java
  backend/src/main/java/com/morak/back/auth/ui/dto/SigninRequest.java
  backend/src/main/java/com/morak/back/core/domain/Code.java
  backend/src/main/java/com/morak/back/core/domain/CodeGenerator.java
  backend/src/main/java/com/morak/back/core/domain/RandomCodeGenerator.java
  backend/src/main/java/com/morak/back/core/ui/GlobalControllerAdvice.java
  backend/src/main/java/com/morak/back/core/util/CodeGenerator.java
  backend/src/main/java/com/morak/back/poll/application/PollService.java
  backend/src/main/java/com/morak/back/poll/domain/AllowedPollCount.java
  backend/src/main/java/com/morak/back/poll/domain/Poll.java
  backend/src/main/java/com/morak/back/poll/domain/PollItem.java
  backend/src/main/java/com/morak/back/poll/domain/PollItemRepository.java
  backend/src/main/java/com/morak/back/poll/domain/PollResult.java
  backend/src/main/java/com/morak/back/poll/domain/PollResultRepository.java
  backend/src/main/java/com/morak/back/poll/ui/PollController.java
  backend/src/main/java/com/morak/back/poll/ui/dto/PollCreateRequest.java
  backend/src/main/java/com/morak/back/poll/ui/dto/PollResponse.java
  backend/src/main/java/com/morak/back/poll/ui/dto/PollResultRequest.java
  backend/src/main/java/com/morak/back/team/application/TeamService.java
  backend/src/main/java/com/morak/back/team/domain/ExpiredTime.java
  backend/src/main/java/com/morak/back/team/domain/InvitationCode.java
  backend/src/main/java/com/morak/back/team/domain/Team.java
  backend/src/main/java/com/morak/back/team/domain/TeamInvitation.java
  backend/src/main/java/com/morak/back/team/domain/TeamInvitationRepository.java
  backend/src/main/java/com/morak/back/team/domain/TeamMember.java
  backend/src/main/java/com/morak/back/team/domain/TeamMemberRepository.java
  backend/src/main/java/com/morak/back/team/domain/TeamRepository.java
  backend/src/main/java/com/morak/back/team/ui/dto/TeamCreateRequest.java
  backend/src/main/resources/data-local.sql
  backend/src/main/resources/schema-dev.sql
  backend/src/main/resources/schema-local.sql
  backend/src/test/java/com/morak/back/auth/application/OAuthServiceTest.java
  backend/src/test/java/com/morak/back/auth/domain/MemberRepositoryTest.java
  backend/src/test/java/com/morak/back/core/util/CodeGeneratorTest.java
  backend/src/test/java/com/morak/back/poll/acceptance/PollAcceptanceTest.java
  backend/src/test/java/com/morak/back/poll/application/PollServiceTest.java
  backend/src/test/java/com/morak/back/poll/domain/PollItemRepositoryTest.java
  backend/src/test/java/com/morak/back/poll/domain/PollRepositoryTest.java
  backend/src/test/java/com/morak/back/poll/domain/PollResultRepositoryTest.java
  backend/src/test/java/com/morak/back/poll/domain/PollStatusTest.java
  backend/src/test/java/com/morak/back/poll/domain/PollTest.java
  backend/src/test/java/com/morak/back/poll/support/DomainSupplier.java
  backend/src/test/java/com/morak/back/poll/ui/PollControllerTest.java
  backend/src/test/java/com/morak/back/support/RepositoryTest.java
  backend/src/test/java/com/morak/back/team/acceptance/TeamAcceptanceTest.java
  backend/src/test/java/com/morak/back/team/application/TeamServiceTest.java
  backend/src/test/java/com/morak/back/team/domain/TeamInvitationTest.java
  backend/src/test/java/com/morak/back/team/domain/TeamRepositoryTest.java
  backend/src/test/resources/data.sql
  backend/src/test/resources/schema.sql
Labels: ♻️ 리팩토링, 💻 backend

#141 feat: 약속잡기 CRUD 구현
  backend/src/main/java/com/morak/back/appointment/application/AppointmentService.java
  backend/src/main/java/com/morak/back/appointment/domain/Appointment.java
  backend/src/main/java/com/morak/back/appointment/domain/AppointmentRepository.java
  backend/src/main/java/com/morak/back/appointment/domain/AppointmentStatus.java
  backend/src/main/java/com/morak/back/appointment/domain/AvailableTime.java
  backend/src/main/java/com/morak/back/appointment/domain/AvailableTimeRepository.java
  backend/src/main/java/com/morak/back/appointment/domain/DatePeriod.java
  backend/src/main/java/com/morak/back/appointment/domain/DateTimePeriod.java
  backend/src/main/java/com/morak/back/appointment/domain/DurationMinutes.java
  backend/src/main/java/com/morak/back/appointment/domain/TimePeriod.java
  backend/src/main/java/com/morak/back/appointment/exception/AppointmentNotFoundException.java
  backend/src/main/java/com/morak/back/appointment/ui/AppointmentController.java
  backend/src/main/java/com/morak/back/appointment/ui/dto/AppointmentAllResponse.java
  backend/src/main/java/com/morak/back/appointment/ui/dto/AppointmentCreateRequest.java
  backend/src/main/java/com/morak/back/appointment/ui/dto/AppointmentResponse.java
  backend/src/main/java/com/morak/back/appointment/ui/dto/AvailableTimeRequest.java
  backend/src/main/java/com/morak/back/appointment/ui/dto/RecommendationResponse.java
  backend/src/test/java/com/morak/back/appointment/AppointmentFixture.java
  backend/src/test/java/com/morak/back/appointment/FakeCodeGenerator.java
  backend/src/test/java/com/morak/back/appointment/acceptance/AppointmentAcceptanceTest.java
  backend/src/test/java/com/morak/back/appointment/application/AppointmentServiceTest.java
  backend/src/test/java/com/morak/back/appointment/domain/AppointmentRepositoryTest.java
  backend/src/test/java/com/morak/back/appointment/domain/AppointmentStatusTest.java
  backend/src/test/java/com/morak/back/appointment/domain/AppointmentTest.java
  backend/src/test/java/com/morak/back/appointment/domain/AvailableTimeRepositoryTest.java
  backend/src/test/java/com/morak/back/appointment/domain/AvailableTimeTest.java
  backend/src/test/java/com/morak/back/appointment/domain/DatePeriodTest.java
  backend/src/test/java/com/morak/back/appointment/domain/DateTimePeriodTest.java
  backend/src/test/java/com/morak/back/appointment/ui/AppointmentControllerTest.java
  backend/src/test/resources/data.sql
  backend/src/test/resources/schema.sql
Labels: ✨ 기능, 💻 backend

#142 refactor(poll): path에 투표 id 대신 code 사용
  backend/src/main/java/com/morak/back/poll/application/PollService.java
  backend/src/main/java/com/morak/back/poll/domain/PollRepository.java
  backend/src/main/java/com/morak/back/poll/exception/PollNotFoundException.java
  backend/src/main/java/com/morak/back/poll/ui/PollController.java
  backend/src/test/java/com/morak/back/poll/application/PollServiceTest.java
  backend/src/test/java/com/morak/back/poll/domain/PollRepositoryTest.java
  backend/src/test/java/com/morak/back/poll/ui/PollControllerTest.java
  backend/src/test/resources/data.sql
Labels: ♻️ 리팩토링, 💻 backend

#144 refactor: poll 도메인 리팩토링을 보완한다.
  backend/src/main/java/com/morak/back/core/domain/Code.java
  backend/src/main/java/com/morak/back/poll/application/PollService.java
  backend/src/main/java/com/morak/back/poll/domain/Poll.java
  backend/src/main/java/com/morak/back/poll/domain/PollItem.java
  backend/src/main/java/com/morak/back/poll/ui/dto/PollCreateRequest.java
  backend/src/main/java/com/morak/back/team/application/TeamService.java
  backend/src/main/java/com/morak/back/team/domain/Team.java
  backend/src/main/java/com/morak/back/team/domain/TeamInvitation.java
  backend/src/test/java/com/morak/back/poll/application/PollServiceTest.java
  backend/src/test/java/com/morak/back/poll/domain/PollRepositoryTest.java
  backend/src/test/java/com/morak/back/poll/domain/PollTest.java
  backend/src/test/java/com/morak/back/team/application/TeamServiceTest.java
  backend/src/test/java/com/morak/back/team/domain/TeamInvitationTest.java
  backend/src/test/java/com/morak/back/team/domain/TeamRepositoryTest.java
Labels: ♻️ 리팩토링, 💻 backend

#145 refactor: TeamResponse 를 수정한다.
  backend/src/main/java/com/morak/back/team/ui/dto/TeamResponse.java
  backend/src/test/java/com/morak/back/team/acceptance/TeamAcceptanceTest.java
  backend/src/test/java/com/morak/back/team/ui/TeamControllerTest.java
Labels: ♻️ 리팩토링, 💻 backend

#147 feat: 약속 생성 페이지 UI를 구현한다.
  frontend/src/App.tsx
  frontend/src/components/AppointmentCreate/AppointmentCreateForm/AppointmentCreateForm.tsx
  frontend/src/components/AppointmentCreate/AppointmentCreateFormButtonGroup/AppointmentCreateFormButtonGroup.tsx
  frontend/src/components/AppointmentCreate/AppointmentCreateFormDescriptionInput/AppointmentCreateFormDescriptionInput.tsx
  frontend/src/components/AppointmentCreate/AppointmentCreateFormDurationInput/AppointmentCreateFormDurationInput.tsx
  frontend/src/components/AppointmentCreate/AppointmentCreateFormTimeLimitInput/AppointmentCreateFormTimeLimitInput.tsx
  frontend/src/components/AppointmentCreate/AppointmentCreateFormTitleInput/AppointmentCreateFormTitleInput.tsx
  frontend/src/components/GroupInit/GroupCreateForm/GroupCreateForm.tsx
  frontend/src/components/Main/MainFeatureMenuContainer/MainFeatureMenuContainer.tsx
  frontend/src/components/PollMain/PollMainDetail/PollMainDetail.tsx
  frontend/src/components/PollProgress/PollProgressDetail/PollProgressDetail.tsx
  frontend/src/components/PollProgress/PollProgressSubmitButton/PollProgressSubmitButton.tsx
  frontend/src/components/PollResult/PollResultDetail/PollResultDetail.tsx
  frontend/src/components/PollResult/PollResultStatus/PollResultStatus.tsx
  frontend/src/components/common/Button/Button.tsx
  frontend/src/components/common/Select/Select.stories.tsx
  frontend/src/components/common/Select/Select.tsx
  frontend/src/components/common/TextField/TextField.tsx
  frontend/src/hooks/useInput.ts
  frontend/src/hooks/useInputs.ts
  frontend/src/pages/AppointmentCreatePage/AppointmentCreatePage.tsx
  frontend/src/pages/AppointmentMainPage/AppointmentMainPage.tsx
  frontend/src/pages/MainPage/MainPage.tsx
  frontend/src/types/appointment.ts
  frontend/src/utils/number.ts
  frontend/tsconfig.json
Labels: ✨ 기능, 💻 frontend
