Repository woowacourse-teams/2022-mo-rak, pull requests merged in 2022-09, with the labels that each got.

#368 refactor: 메뉴에 대한 context api 수정
  frontend/src/components/Sidebar/Sidebar.tsx
  frontend/src/components/SidebarFeatureMenu/SidebarFeatureMenu.tsx
  frontend/src/components/SidebarGroupsModal/SidebarGroupsModal.tsx
  frontend/src/components/SidebarMenuModals/SidebarMenuModals.tsx
  frontend/src/context/MenuProvider.tsx
  frontend/src/hooks/useMenuContext.ts
  frontend/src/hooks/useMenuDispatchContext.ts
  frontend/src/routes/MenuRoute.tsx
  frontend/src/styles/GlobalStyle.tsx
  frontend/src/types/menu.ts
Labels: ♻️ 리팩토링, 💻 frontend

#372 refactor(appointment): 약속잡기 진행페이지내 timepicker 리팩토링
  frontend/src/components/AppointmentProgress/AppointmentProgressTimePicker/AppointmentProgressTimePicker.tsx
Labels: ♻️ 리팩토링, 💻 frontend

#375 refactor: calendar 컴포넌트 리팩토링
  frontend/src/components/@common/Calendar/Calendar.tsx
Labels: ♻️ 리팩토링, 💻 frontend

#388 refactor: 랜딩페이지 리팩토링
  frontend/src/components/Landing/LandingFeatureIntroductionSection/LandingFeatureIntroductionSection.tsx
  frontend/src/components/Landing/LandingMainSection/LandingMainSection.tsx
  frontend/src/components/Landing/LandingNavbar/LandingNavbar.tsx
  frontend/src/components/Landing/LandingServiceIntroductionSection/LandingServiceIntroductionSection.tsx
  frontend/src/pages/LandingPage/LandingPage.tsx
Labels: ♻️ 리팩토링, 💻 frontend

#387 refactor: 사이드바 리팩토링
  frontend/src/components/Sidebar/Sidebar.tsx
  frontend/src/components/SidebarFeatureMenu/SidebarFeatureMenu.tsx
  frontend/src/components/SidebarGroupsMenu/SidebarGroupsMenu.tsx
  frontend/src/components/SidebarInvitationMenu/SidebarInvitationMenu.tsx
  frontend/src/components/SidebarMembersProfileMenu/SidebarMembersProfileMenu.tsx
  frontend/src/components/SidebarMenuModals/SidebarMenuModals.tsx
  frontend/src/components/SidebarSlackMenu/SidebarSlackMenu.tsx
  frontend/src/hooks/useInput.ts
Labels: ♻️ 리팩토링, 💻 frontend

#393 feat(appointment): 약속잡기 진행 여부 확인 기능 추가
  backend/src/main/java/com/morak/back/appointment/application/AppointmentService.java
  backend/src/main/java/com/morak/back/appointment/ui/AppointmentController.java
  backend/src/main/java/com/morak/back/appointment/ui/dto/AppointmentStatusResponse.java
  backend/src/test/java/com/morak/back/appointment/acceptance/AppointmentAcceptanceTest.java
  backend/src/test/java/com/morak/back/appointment/application/AppointmentServiceTest.java
  backend/src/test/java/com/morak/back/appointment/ui/AppointmentControllerTest.java
Labels: ✨ 기능, 💻 backend

#364 refactor: 약속잡기의 쿼리 성능을 개선한다.
  backend/src/main/java/com/morak/back/appointment/application/AppointmentService.java
  backend/src/main/java/com/morak/back/appointment/domain/AppointmentRepository.java
  backend/src/main/java/com/morak/back/appointment/domain/AvailableTimeRepository.java
  backend/src/main/java/com/morak/back/core/application/NotificationService.java
  backend/src/main/java/com/morak/back/core/domain/slack/SlackWebhookRepository.java
  backend/src/main/java/com/morak/back/poll/application/PollService.java
  backend/src/main/java/com/morak/back/poll/domain/Poll.java
  backend/src/main/java/com/morak/back/poll/domain/PollItem.java
  backend/src/main/java/com/morak/back/poll/ui/PollController.java
  backend/src/main/java/com/morak/back/poll/ui/dto/PollCreateRequest.java
  backend/src/main/java/com/morak/back/team/application/TeamService.java
  backend/src/main/java/com/morak/back/team/domain/TeamMemberRepository.java
  backend/src/main/resources/schema-dev.sql
  backend/src/main/resources/schema-local.sql
  backend/src/test/java/com/morak/back/appointment/application/AppointmentSchedulerTest.java
  backend/src/test/java/com/morak/back/appointment/application/AppointmentServiceTest.java
  backend/src/test/java/com/morak/back/appointment/domain/AppointmentRepositoryTest.java
  backend/src/test/java/com/morak/back/appointment/domain/AvailableTimeRepositoryTest.java
  backend/src/test/java/com/morak/back/core/application/NotificationServiceTest.java
  backend/src/test/java/com/morak/back/core/domain/slack/SlackWebhookRepositoryTest.java
  backend/src/test/java/com/morak/back/poll/application/PollServiceTest.java
  backend/src/test/java/com/morak/back/poll/domain/PollResultRepositoryTest.java
  backend/src/test/java/com/morak/back/poll/domain/PollTest.java
  backend/src/test/java/com/morak/back/team/acceptance/TeamAcceptanceTest.java
  backend/src/test/java/com/morak/back/team/application/TeamServiceTest.java
  backend/src/test/resources/schema.sql
Labels: ♻️ 리팩토링, 💻 backend

#370 feat: 성능 측정 기능 구현
  backend/build.gradle
  backend/src/main/java/com/morak/back/performance/PerformanceConfig.java
  backend/src/main/java/com/morak/back/performance/PerformanceInterceptor.java
  backend/src/main/java/com/morak/back/performance/PerformanceMonitor.java
  backend/src/main/java/com/morak/back/performance/PerformanceMonitorAop.java
  backend/src/main/java/com/morak/back/performance/ProxyConnectionHandler.java
  backend/src/main/java/com/morak/back/performance/ProxyPreparedStatementHandler.java
  backend/src/main/resources/logback-spring.xml
  backend/src/test/java/com/morak/back/performance/Fixture.java
  backend/src/test/java/com/morak/back/performance/PerformanceTest.java
  backend/src/test/java/com/morak/back/performance/dao/AppointmentDao.java
  backend/src/test/java/com/morak/back/performance/dao/PollDao.java
  backend/src/test/java/com/morak/back/performance/dao/TeamMemberDao.java
  backend/src/test/java/com/morak/back/performance/support/AppointmentDummySupport.java
  backend/src/test/java/com/morak/back/performance/support/AppointmentRequestSupport.java
  backend/src/test/java/com/morak/back/performance/support/PollDummySupport.java
  backend/src/test/java/com/morak/back/performance/support/PollRequestSupport.java
  backend/src/test/java/com/morak/back/performance/support/TeamMemberDummySupport.java
  backend/src/test/java/com/morak/back/performance/support/TeamMemberRequestSupport.java
  backend/src/test/java/com/morak/back/poll/ui/ControllerTest.java
  backend/src/test/java/com/morak/back/team/acceptance/TeamAcceptanceTest.java
  backend/src/test/resources/application.yml
Labels: ✨ 기능, 💻 backend

#397 refactor: 스크린 크기에 따른 html 폰트사이즈 변경
  frontend/src/styles/GlobalStyle.tsx
Labels: ♻️ 리팩토링, 💻 frontend

#400 feat(appointment): 약속잡기에서 공동 1등이 나왔을 경우 투표생성 페이지를 연동
  frontend/src/api/appointment.ts
  frontend/src/components/AppointmentResult/AppointmentResultButtonGroup/AppointmentResultButtonGroup.tsx
  frontend/src/components/AppointmentResult/AppointmentResultRanking/AppointmentResultRanking.tsx
  frontend/src/components/PollCreate/PollCreateForm/PollCreateForm.tsx
  frontend/src/components/PollCreate/PollCreateFormInputGroup/PollCreateFormInputGroup.tsx
  frontend/src/pages/AppointmentResultPage/AppointmentResultPage.tsx
  frontend/src/utils/date.ts
Labels: ✨ 기능, 💻 frontend

#401 refactor: 프론트엔드 성능 개선
  frontend/public/index.html
  frontend/src/App.tsx
  frontend/src/components/@common/Avatar/Avatar.tsx
  frontend/src/components/AppointmentCreate/AppointmentCreateForm/AppointmentCreateForm.tsx
  frontend/src/components/AppointmentCreate/AppointmentCreateFormButtonGroup/AppointmentCreateFormButtonGroup.tsx
  frontend/src/components/AppointmentCreate/AppointmentCreateFormCloseTimeInput/AppointmentCreateFormCloseTimeInput.tsx
  frontend/src/components/AppointmentCreate/AppointmentCreateFormDescriptionInput/AppointmentCreateFormDescriptionInput.tsx
  frontend/src/components/AppointmentCreate/AppointmentCreateFormDurationInput/AppointmentCreateFormDurationInput.tsx
  frontend/src/components/AppointmentCreate/AppointmentCreateFormTimeInput/AppointmentCreateFormTimeInput.tsx
  frontend/src/components/AppointmentCreate/AppointmentCreateFormTimeLimitInput/AppointmentCreateFormTimeLimitInput.tsx
  frontend/src/components/AppointmentCreate/AppointmentCreateFormTitleInput/AppointmentCreateFormTitleInput.tsx
  frontend/src/components/Main/MainFeatureMenuContainer/MainFeatureMenuContainer.tsx
  frontend/src/components/PollCreate/PollCreateCloseTimeInput/PollCreateCloseTimeInput.tsx
  frontend/src/components/PollCreate/PollCreateDetail/PollCreateDetail.tsx
  frontend/src/components/PollCreate/PollCreateFormInputGroup/PollCreateFormInputGroup.tsx
  frontend/src/components/PollCreate/PollCreateFormSubmitButton/PollCreateFormSubmitButton.tsx
  frontend/src/components/PollCreate/PollCreateFormTitleInput/PollCreateFormTitleInput.tsx
  frontend/src/components/Sidebar/Sidebar.tsx
  frontend/src/components/SidebarFeatureMenu/SidebarFeatureMenu.tsx
  frontend/src/hooks/useInputs.ts
  frontend/src/pages/AppointmentCreatePage/AppointmentCreatePage.tsx
  frontend/src/pages/LandingPage/LandingPage.tsx
  frontend/src/pages/PollCreatePage/PollCreatePage.tsx
  frontend/src/styles/GlobalStyle.tsx
  frontend/tsconfig.json
  frontend/webpack.common.js
Labels: ♻️ 리팩토링, 💻 frontend

#406 fix(appointment): 약속잡기 마감시간이 설정되지 않는 문제 해결
  frontend/src/components/AppointmentCreate/AppointmentCreateFormCloseTimeInput/AppointmentCreateFormCloseTimeInput.tsx
Labels: 🐛 버그, 💻 frontend

#405 feat(appointment): 약속잡기 결과페이지에서 마감 버튼을 누르면 실시간으로 마감 버튼이 보여야한다.
  frontend/src/components/@common/Calendar/Calendar.tsx
  frontend/src/components/AppointmentCreate/AppointmentCreateHeader/AppointmentCreateHeader.tsx
  frontend/src/components/AppointmentProgress/AppointmentProgressTimePicker/AppointmentProgressTimePicker.tsx
  frontend/src/components/AppointmentResult/AppointmentResultButtonGroup/AppointmentResultButtonGroup.tsx
  frontend/src/pages/AppointmentResultPage/AppointmentResultPage.tsx
  frontend/src/types/appointment.ts
Labels: ✨ 기능, 💻 frontend

#399 feat: 성능 측정 결과 슬랙 알림 기능 구현
  backend/src/main/resources/logback-spring.xml
  backend/src/test/java/com/morak/back/performance/support/PollDummySupport.java
Labels: ✨ 기능, 💻 backend

#409 design: 반응형 폰트 사이즈 조정
  frontend/src/styles/GlobalStyle.tsx
Labels: 🐛 버그, 💻 frontend

#410 design: 반응형 폰트 사이즈 조정
  frontend/src/styles/GlobalStyle.tsx
Labels: ♻️ 리팩토링, 💻 frontend

#418 feat: 로그아웃 기능 구현
  frontend/src/components/Sidebar/Sidebar.tsx
  frontend/src/components/SidebarLogoutMenu/SidebarLogoutMenu.tsx
Labels: ✨ 기능, 💻 frontend
