Repository woowacourse-teams/2022-mo-rak, pull requests merged in 2022-08, with the labels that each got.

#154 chore: webpack 개발/배포 환경 분리
  frontend/package-lock.json
  frontend/package.json
  frontend/webpack.common.js
  frontend/webpack.dev.js
  frontend/webpack.prod.js
Labels: 💻 frontend, 🍊 인프라

#157 fix(group): 속하지 않은 그룹코드를 가진 url에 접속을해도 들어가지는 문제 해결
  frontend/src/components/MembersProfile/MembersProfile.tsx
Labels: ♻️ 리팩토링, 💻 frontend

#160 feat: 달력 컴포넌트를 구현
  frontend/src/components/common/Calendar/Calendar.stories.tsx
  frontend/src/components/common/Calendar/Calendar.tsx
  frontend/src/styles/theme.ts
Labels: ✨ 기능, 💻 frontend

#165 feat: 약속잡기 진행페이지 UI를 구현한다.
  frontend/src/App.tsx
  frontend/src/api/appointment.ts
  frontend/src/components/AppointmentCreate/AppointmentCreateHeader/AppointmentCreateHeadert.tsx
  frontend/src/components/PollCreate/PollCreateForm/PollCreateForm.tsx
  frontend/src/components/common/Box/Box.tsx
  frontend/src/pages/AppointmentCreatePage/AppointmentCreatePage.tsx
  frontend/src/pages/AppointmentMainPage/AppointmentMainPage.tsx
  frontend/src/pages/AppointmentProgressPage/AppointmentProgressPage.tsx
  frontend/src/pages/GroupInitPage/GroupInitPage.tsx
  frontend/src/pages/LandingPage/LandingPage.tsx
  frontend/src/styles/theme.ts
Labels: ✨ 기능, 💻 frontend

#152 feat: 약속 결과 페이지를 구현한다.
  frontend/src/api/appointment.ts
  frontend/src/components/AppointmentResult/AppointmentResultButtonGroup.tsx
  frontend/src/components/AppointmentResult/AppointmentResultContainer/AppointmentResultContainer.tsx
  frontend/src/components/AppointmentResult/AppointmentResultRanking.tsx
  frontend/src/components/common/TextField/TextField.tsx
  frontend/src/pages/AppointmentResultPage/AppointmentResultPage.tsx
  frontend/src/types/appointment.ts
Labels: ✨ 기능, 💻 frontend

#167 feat: 생성 페이지에 달력을 추가하고 API를 연동한다.
  frontend/src/api/appointment.ts
  frontend/src/components/AppointmentCreate/AppointmentCreateForm/AppointmentCreateForm.tsx
  frontend/src/components/AppointmentCreate/AppointmentCreateFormDescriptionInput/AppointmentCreateFormDescriptionInput.tsx
  frontend/src/components/AppointmentCreate/AppointmentCreateFormTitleInput/AppointmentCreateFormTitleInput.tsx
  frontend/src/components/common/Calendar/Calendar.tsx
  frontend/src/pages/AppointmentCreatePage/AppointmentCreatePage.tsx
Labels: ✨ 기능, 💻 frontend

#177 refactor: 로깅 롤링 전략 변경
  backend/src/main/resources/logback-spring.xml
Labels: ♻️ 리팩토링, 💻 backend

#173 feat: 약속잡기 추천 기능 구현
  backend/src/main/java/com/morak/back/appointment/application/AppointmentService.java
  backend/src/main/java/com/morak/back/appointment/domain/Appointment.java
  backend/src/main/java/com/morak/back/appointment/domain/AvailableTime.java
  backend/src/main/java/com/morak/back/appointment/domain/AvailableTimeRepository.java
  backend/src/main/java/com/morak/back/appointment/domain/DatePeriod.java
  backend/src/main/java/com/morak/back/appointment/domain/DateTimePeriod.java
  backend/src/main/java/com/morak/back/appointment/domain/DurationMinutes.java
  backend/src/main/java/com/morak/back/appointment/domain/RankRecommendation.java
  backend/src/main/java/com/morak/back/appointment/domain/RecommendationCell.java
  backend/src/main/java/com/morak/back/appointment/domain/RecommendationCells.java
  backend/src/main/java/com/morak/back/appointment/domain/TimePeriod.java
  backend/src/main/java/com/morak/back/appointment/ui/AppointmentController.java
  backend/src/main/java/com/morak/back/appointment/ui/dto/AppointmentCreateRequest.java
  backend/src/main/java/com/morak/back/appointment/ui/dto/AvailableTimeRequest.java
  backend/src/main/java/com/morak/back/appointment/ui/dto/RecommendationResponse.java
  backend/src/main/java/com/morak/back/auth/ui/OAuthControllerAdvice.java
  backend/src/main/java/com/morak/back/core/ui/GlobalControllerAdvice.java
  backend/src/main/java/com/morak/back/poll/domain/Poll.java
  backend/src/main/java/com/morak/back/team/ui/TeamControllerAdvice.java
  backend/src/main/resources/application.yml
  backend/src/main/resources/data-dev.sql
  backend/src/main/resources/data-local.sql
  backend/src/main/resources/data-prd.sql
  backend/src/main/resources/schema-dev.sql
  backend/src/main/resources/schema-local.sql
  backend/src/test/java/com/morak/back/appointment/AppointmentFixture.java
  backend/src/test/java/com/morak/back/appointment/acceptance/AppointmentAcceptanceTest.java
  backend/src/test/java/com/morak/back/appointment/application/AppointmentServiceTest.java
  backend/src/test/java/com/morak/back/appointment/domain/DatePeriodTest.java
  backend/src/test/java/com/morak/back/appointment/domain/DateTimePeriodTest.java
  backend/src/test/java/com/morak/back/appointment/domain/DomainFixture.java
  backend/src/test/java/com/morak/back/appointment/domain/DurationMinutesTest.java
  backend/src/test/java/com/morak/back/appointment/domain/RankRecommendationTest.java
  backend/src/test/java/com/morak/back/appointment/domain/RecommendationCellTest.java
  backend/src/test/java/com/morak/back/appointment/domain/TimePeriodTest.java
  backend/src/test/java/com/morak/back/appointment/ui/AppointmentControllerTest.java
  backend/src/test/resources/data.sql
  backend/src/test/resources/schema.sql
Labels: ✨ 기능, 💻 backend

#182 test: poll에 대한 e2e 테스트
  frontend/.eslintrc.json
  frontend/.gitignore
  frontend/cypress.config.ts
  frontend/cypress/e2e/poll.cy.ts
  frontend/cypress/support/commands.ts
  frontend/cypress/support/e2e.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/api/poll.ts
  frontend/src/components/PollCreate/PollCreateForm/PollCreateForm.tsx
  frontend/src/components/PollCreate/PollCreateFormInputGroup/PollCreateFormInputGroup.tsx
  frontend/src/components/PollMain/PollMainButtonGroup/PollMainButtonGroup.tsx
  frontend/src/components/PollMain/PollMainContainer/PollMainContainer.tsx
  frontend/src/components/PollMain/PollMainProgress/PollMainProgress.tsx
  frontend/src/components/PollProgress/PollProgressForm/PollProgressForm.tsx
  frontend/src/components/PollProgress/PollProgressItemGroup/PollProgressItemGroup.tsx
  frontend/src/components/PollProgress/PollProgressSubmitButton/PollProgressSubmitButton.tsx
  frontend/src/components/PollResult/PollResultButtonGroup/PollResultButtonGroup.tsx
  frontend/src/components/PollResult/PollResultContainer/PollResultContainer.tsx
  frontend/src/components/PollResult/PollResultItemGroup/PollResultItemGroup.tsx
  frontend/src/components/PollResult/PollResultShareLink/PollResultShareLink.tsx
  frontend/tsconfig.json
Labels: ✨ 기능, 💻 frontend

#180 feat: 약속잡기 진행 페이지에 달력을 추가하고 API를 연동한다.
  frontend/src/App.tsx
  frontend/src/api/appointment.ts
  frontend/src/components/AppointmentCreate/AppointmentCreateForm/AppointmentCreateForm.tsx
  frontend/src/components/AppointmentCreate/AppointmentCreateFormDurationInput/AppointmentCreateFormDurationInput.tsx
  frontend/src/components/AppointmentCreate/AppointmentCreateFormTimeLimitInput/AppointmentCreateFormTimeLimitInput.tsx
  frontend/src/components/AppointmentProgress/AppointmentProgressButtonGroup/AppointmentProgressButtonGroup.tsx
  frontend/src/components/AppointmentProgress/AppointmentProgressDetail/AppointmentProgressDetail.tsx
  frontend/src/components/AppointmentProgress/AppointmentProgressHeader/AppointmentProgressHeader.tsx
  frontend/src/components/AppointmentProgress/AppointmentProgressTimePicker/AppointmentProgressTimePicker.tsx
  frontend/src/components/AppointmentResult/AppointmentResultButtonGroup.tsx
  frontend/src/components/AppointmentResult/AppointmentResultContainer/AppointmentResultContainer.tsx
  frontend/src/components/AppointmentResult/AppointmentResultRanking.tsx
  frontend/src/components/Main/MainFeatureMenuContainer/MainFeatureMenuContainer.tsx
  frontend/src/components/Sidebar/Sidebar.tsx
  frontend/src/components/common/Calendar/Calendar.tsx
  frontend/src/pages/AppointmentProgressPage/AppointmentProgressPage.tsx
  frontend/src/pages/LandingPage/LandingPage.tsx
  frontend/src/types/appointment.ts
  frontend/src/utils/fetcher.ts
Labels: ✨ 기능, 💻 frontend

#159 docs: api별 에러 응답 코드 추가
  backend/src/docs/asciidoc/index.adoc
Labels: ♻️ 리팩토링, 💻 backend

#185 fix: QA 과정에서 나타난 서버 오류 수정
  backend/src/main/java/com/morak/back/appointment/application/AppointmentService.java
  backend/src/main/java/com/morak/back/appointment/domain/Appointment.java
  backend/src/main/java/com/morak/back/appointment/domain/TimePeriod.java
  backend/src/main/java/com/morak/back/appointment/ui/dto/AvailableTimeRequest.java
  backend/src/test/java/com/morak/back/appointment/application/AppointmentServiceTest.java
  backend/src/test/java/com/morak/back/appointment/domain/AppointmentTest.java
Labels: ♻️ 리팩토링, 💻 backend

#184 fix: 요청 body를 두번 읽을 경우 발생하는 에러 수정
  backend/src/main/java/com/morak/back/core/domain/CachedBodyHttpServletRequest.java
  backend/src/main/java/com/morak/back/core/exception/CachedBodyException.java
  backend/src/main/java/com/morak/back/core/ui/CacheBodyFilter.java
  backend/src/main/java/com/morak/back/core/ui/GlobalControllerAdvice.java
Labels: 🐛 버그, 💻 backend

#198 fix: 약속잡기 생성 테스트 수정
  backend/src/test/java/com/morak/back/appointment/application/AppointmentServiceTest.java
Labels: 🐛 버그, 💻 backend

#201 refactor: 스프린트3에서 구현한 기능을 부분적으로 리팩토링한다
  frontend/src/App.tsx
  frontend/src/api/appointment.ts
  frontend/src/api/poll.ts
  frontend/src/components/AppointmentCreate/AppointmentCreateForm/AppointmentCreateForm.tsx
  frontend/src/components/AppointmentCreate/AppointmentCreateFormDescriptionInput/AppointmentCreateFormDescriptionInput.tsx
  frontend/src/components/AppointmentCreate/AppointmentCreateFormTimeInput/AppointmentCreateFormTimeInput.tsx
  frontend/src/components/AppointmentCreate/AppointmentCreateFormTimeLimitInput/AppointmentCreateFormTimeLimitInput.tsx
  frontend/src/components/AppointmentCreate/AppointmentCreateFormTitleInput/AppointmentCreateFormTitleInput.tsx
  frontend/src/components/AppointmentProgress/AppointmentProgressTimePicker/AppointmentProgressTimePicker.tsx
  frontend/src/components/AppointmentResult/AppointmentResultButtonGroup/AppointmentResultButtonGroup.tsx
  frontend/src/components/AppointmentResult/AppointmentResultContainer/AppointmentResultContainer.tsx
  frontend/src/components/AppointmentResult/AppointmentResultHeader/AppointmentResultHeader.tsx
  frontend/src/components/AppointmentResult/AppointmentResultRanking/AppointmentResultRanking.tsx
  frontend/src/components/GroupInit/GroupCreateForm/GroupCreateForm.tsx
  frontend/src/components/GroupInit/GroupCreateFormNameInput/GroupCreateFormNameInput.tsx
  frontend/src/components/GroupInit/GroupCreateFormSubmitButton/GroupCreateFormSubmitButton.tsx
  frontend/src/components/GroupInit/GroupInitContainer/GroupInitContainer.tsx
  frontend/src/components/GroupInit/GroupPariticipateFormSubmitButton/GroupParticipateFormSubmitButton.tsx
  frontend/src/components/GroupInit/GroupParticipateForm/GroupParticipateForm.tsx
  frontend/src/components/GroupInit/GroupParticipateInvitationCodeInput/GroupParticipateInvitationCodeInput.tsx
  frontend/src/components/Invitation/InvitationButtonGroup/InvitationButtonGroup.tsx
  frontend/src/components/Invitation/InvitationContainer/InvitationContainer.tsx
  frontend/src/components/PollCreate/PollCreateForm/PollCreateForm.tsx
  frontend/src/components/PollCreate/PollCreateFormTitleInput/PollCreateFormTitleInput.tsx
  frontend/src/components/PollMain/PollMainButtonGroup/PollMainButtonGroup.tsx
  frontend/src/components/PollMain/PollMainContainer/PollMainContainer.tsx
  frontend/src/components/PollMain/PollMainHeader/PollMainHeader.tsx
  frontend/src/components/PollMain/PollMainProgress/PollMainProgress.tsx
  frontend/src/components/PollProgress/PollProgressButtonGroup/PollProgressButtonGroup.tsx
  frontend/src/components/PollProgress/PollProgressForm/PollProgressForm.tsx
  frontend/src/components/PollProgress/PollProgressItemGroup/PollProgressItemGroup.tsx
  frontend/src/components/PollResult/PollParticipantModal/PollParticipantModal.tsx
  frontend/src/components/PollResult/PollResultButtonGroup/PollResultButtonGroup.tsx
  frontend/src/components/PollResult/PollResultContainer/PollResultContainer.tsx
  frontend/src/components/PollResult/PollResultItemGroup/PollResultItemGroup.tsx
  frontend/src/components/PollResult/PollResultProgress/PollResultProgress.tsx
  frontend/src/components/SidebarLayout/SidebarLayout.tsx
  frontend/src/components/common/Avatar/Avatar.tsx
  frontend/src/components/common/Calendar/Calendar.tsx
  frontend/src/pages/AppointmentCreatePage/AppointmentCreatePage.tsx
  frontend/src/pages/AppointmentProgressPage/AppointmentProgressPage.tsx
  frontend/src/pages/AppointmentResultPage/AppointmentResultPage.tsx
  frontend/src/pages/GroupInitPage/GroupInitPage.tsx
  frontend/src/pages/LandingPage/LandingPage.tsx
  frontend/src/pages/MainPage/MainPage.tsx
  frontend/src/pages/PollMainPage/PollMainPage.tsx
  frontend/src/routes/PrivateRoute.tsx
  frontend/src/types/appointment.ts
  frontend/src/types/poll.ts
  frontend/src/utils/fetcher.ts
Labels: ♻️ 리팩토링, 💻 frontend

#218 refactor: axios 적용
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/appointment.ts
  frontend/src/api/auth.ts
  frontend/src/api/axios.ts
  frontend/src/api/group.ts
  frontend/src/api/poll.ts
  frontend/src/components/AppointmentCreate/AppointmentCreateForm/AppointmentCreateForm.tsx
  frontend/src/components/AppointmentResult/AppointmentResultRanking/AppointmentResultRanking.tsx
  frontend/src/components/GroupInit/GroupCreateForm/GroupCreateForm.tsx
  frontend/src/components/Invitation/InvitationContainer/InvitationContainer.tsx
  frontend/src/components/MembersProfile/MembersProfile.tsx
  frontend/src/components/PollCreate/PollCreateForm/PollCreateForm.tsx
  frontend/src/components/PollMain/PollMainContainer/PollMainContainer.tsx
  frontend/src/components/PollMain/PollMainProgress/PollMainProgress.tsx
  frontend/src/components/PollProgress/PollProgressForm/PollProgressForm.tsx
  frontend/src/components/PollProgress/PollProgressItemGroup/PollProgressItemGroup.tsx
  frontend/src/components/PollResult/PollResultContainer/PollResultContainer.tsx
  frontend/src/components/PollResult/PollResultItemGroup/PollResultItemGroup.tsx
  frontend/src/components/PollResult/PollResultProgress/PollResultProgress.tsx
  frontend/src/components/Sidebar/Sidebar.tsx
  frontend/src/pages/AppointmentProgressPage/AppointmentProgressPage.tsx
  frontend/src/pages/AppointmentResultPage/AppointmentResultPage.tsx
  frontend/src/pages/GroupInitPage/GroupInitPage.tsx
  frontend/src/pages/LandingPage/LandingPage.tsx
  frontend/src/utils/fetcher.ts
Labels: ♻️ 리팩토링, 💻 frontend

#219 feat: 서비스 title, favicon, meta tag를 설정한다.
  frontend/public/icon.ico
  frontend/public/index.html
Labels: ✨ 기능, 💻 frontend

#210 chore: RestDocs로 생성되는 문서 경로 변경
  backend/build.gradle
Labels: ♻️ 리팩토링, 💻 backend

#213 refactor: ContentCachingRequestWrapper를 사용해 요청 body를 캐싱하도록 변경
  backend/src/main/java/com/morak/back/core/domain/CachedBodyHttpServletRequest.java
  backend/src/main/java/com/morak/back/core/exception/CachedBodyException.java
  backend/src/main/java/com/morak/back/core/support/LogFormatter.java
  backend/src/main/java/com/morak/back/core/ui/CacheBodyFilter.java
  backend/src/main/java/com/morak/back/core/ui/GlobalControllerAdvice.java
Labels: ♻️ 리팩토링, 💻 backend

#235 fix: favicon 출력되지 않는 문제 수정
  frontend/src/assets/icon.ico
  frontend/webpack.common.js
Labels: 🐛 버그, 💻 frontend

#208 refactor: 캘린더 리팩토링
  frontend/src/components/@common/Calendar/Calendar.tsx
Labels: ♻️ 리팩토링, 💻 frontend

#237 refactor: Build Tool을 Gradle에서 Intellij 로 변경한다.
  backend/src/main/java/com/morak/back/appointment/domain/AppointmentRepository.java
  backend/src/main/java/com/morak/back/appointment/ui/dto/AppointmentCreateRequest.java
  backend/src/main/java/com/morak/back/appointment/ui/dto/AvailableTimeRequest.java
  backend/src/main/java/com/morak/back/auth/ui/dto/SigninResponse.java
  backend/src/main/java/com/morak/back/core/ui/dto/ExceptionResponse.java
  backend/src/main/java/com/morak/back/poll/domain/PollRepository.java
  backend/src/main/java/com/morak/back/poll/ui/dto/MemberResultResponse.java
  backend/src/main/java/com/morak/back/poll/ui/dto/PollCreateRequest.java
  backend/src/main/java/com/morak/back/poll/ui/dto/PollItemResponse.java
  backend/src/main/java/com/morak/back/poll/ui/dto/PollResponse.java
  backend/src/main/java/com/morak/back/team/domain/TeamInvitationRepository.java
  backend/src/main/java/com/morak/back/team/domain/TeamRepository.java
  backend/src/main/java/com/morak/back/team/ui/dto/InvitationJoinedResponse.java
  backend/src/main/java/com/morak/back/team/ui/dto/TeamCreateRequest.java
  backend/src/main/java/com/morak/back/team/ui/dto/TeamResponse.java
Labels: ♻️ 리팩토링, 💻 backend

#230 refactor: 약속잡기의 버그를 수정하고 테스트를 추가한다.
  backend/src/main/java/com/morak/back/appointment/application/AppointmentService.java
  backend/src/main/java/com/morak/back/appointment/domain/Appointment.java
  backend/src/main/java/com/morak/back/appointment/domain/AvailableTime.java
  backend/src/main/java/com/morak/back/appointment/domain/DatePeriod.java
  backend/src/main/java/com/morak/back/appointment/domain/DateTimePeriod.java
  backend/src/main/java/com/morak/back/appointment/domain/DurationMinutes.java
  backend/src/main/java/com/morak/back/appointment/domain/RecommendationCell.java
  backend/src/main/java/com/morak/back/appointment/domain/RecommendationCells.java
  backend/src/main/java/com/morak/back/appointment/domain/TimePeriod.java
  backend/src/main/java/com/morak/back/appointment/ui/dto/AppointmentCreateRequest.java
  backend/src/main/java/com/morak/back/core/exception/CustomErrorCode.java
  backend/src/main/java/com/morak/back/core/ui/GlobalControllerAdvice.java
  backend/src/test/java/com/morak/back/appointment/AppointmentCreateRequestFixture.java
  backend/src/test/java/com/morak/back/appointment/FakeCodeGenerator.java
  backend/src/test/java/com/morak/back/appointment/acceptance/AppointmentAcceptanceTest.java
  backend/src/test/java/com/morak/back/appointment/application/AppointmentServiceTest.java
  backend/src/test/java/com/morak/back/appointment/domain/AppointmentRepositoryTest.java
  backend/src/test/java/com/morak/back/appointment/domain/AppointmentStatusTest.java
  backend/src/test/java/com/morak/back/appointment/domain/AppointmentTest.java
  backend/src/test/java/com/morak/back/appointment/domain/AvailableTimeRepositoryTest.java
  backend/src/test/java/com/morak/back/appointment/domain/AvailableTimeTest.java
  backend/src/test/java/com/morak/back/appointment/domain/DomainFixture.java
  backend/src/test/java/com/morak/back/appointment/domain/DurationMinutesTest.java
  backend/src/test/java/com/morak/back/appointment/domain/RecommendationCellTest.java
  backend/src/test/java/com/morak/back/appointment/domain/RecommendationCellsTest.java
  backend/src/test/java/com/morak/back/appointment/domain/TimePeriodTest.java
  backend/src/test/java/com/morak/back/appointment/ui/AppointmentControllerTest.java
  backend/src/test/java/com/morak/back/support/ServiceTest.java
  backend/src/test/resources/data.sql
Labels: ♻️ 리팩토링, 💻 backend

#242 feat: 투표 마감시간 기능 구현
  frontend/src/components/PollCreate/PollCreateCloseTimeInput/PollCreateCloseTimeInput.tsx
  frontend/src/components/PollCreate/PollCreateForm/PollCreateForm.tsx
  frontend/src/components/PollCreate/PollCreateFormTitleInput/PollCreateFormTitleInput.tsx
  frontend/src/components/PollMain/PollMainContainer/PollMainContainer.tsx
  frontend/src/components/PollMain/PollMainDetail/PollMainDetail.tsx
  frontend/src/components/PollResult/PollResultContainer/PollResultContainer.tsx
  frontend/src/components/PollResult/PollResultDetail/PollResultDetail.tsx
Labels: ✨ 기능, 💻 frontend

#249 refactor: 투표 선택항목의 api 변경에 따라 인터페이스 수정
  frontend/src/components/PollProgress/PollProgressForm/PollProgressForm.tsx
  frontend/src/components/PollProgress/PollProgressItemGroup/PollProgressItemGroup.tsx
  frontend/src/types/poll.ts
Labels: ♻️ 리팩토링, 💻 frontend

#224 feat: jacoco 설정
  backend/build.gradle
  backend/lombok.config
  backend/src/main/java/com/morak/back/appointment/application/AppointmentService.java
  backend/src/main/java/com/morak/back/appointment/domain/AvailableTime.java
  backend/src/main/java/com/morak/back/appointment/domain/DatePeriod.java
  backend/src/main/java/com/morak/back/appointment/ui/dto/AvailableTimeRequest.java
  backend/src/main/java/com/morak/back/auth/domain/Member.java
  backend/src/main/java/com/morak/back/core/support/Generated.java
  backend/src/main/java/com/morak/back/team/domain/Team.java
  backend/src/test/java/com/morak/back/appointment/acceptance/AppointmentAcceptanceTest.java
  backend/src/test/java/com/morak/back/appointment/application/AppointmentServiceTest.java
  backend/src/test/java/com/morak/back/appointment/domain/AppointmentRepositoryTest.java
  backend/src/test/java/com/morak/back/appointment/domain/AppointmentStatusTest.java
  backend/src/test/java/com/morak/back/appointment/domain/AppointmentTest.java
  backend/src/test/java/com/morak/back/appointment/domain/RecommendationCellsTest.java
  backend/src/test/java/com/morak/back/auth/domain/MemberRepositoryTest.java
  backend/src/test/java/com/morak/back/core/domain/CodeTest.java
  backend/src/test/java/com/morak/back/poll/application/PollServiceTest.java
  backend/src/test/java/com/morak/back/team/application/TeamServiceTest.java
Labels: ✨ 기능, 💻 backend

#247 feat: 존재하지 않는 API 요청 시 커스텀 예외 응답
  backend/src/main/java/com/morak/back/core/config/WebConfig.java
  backend/src/main/java/com/morak/back/core/exception/CustomErrorCode.java
  backend/src/main/java/com/morak/back/core/ui/GlobalControllerAdvice.java
  backend/src/main/resources/application.yml
  backend/src/test/java/com/morak/back/core/ui/ApiNotFoundTest.java
  backend/src/test/resources/application.yml
Labels: ✨ 기능, 💻 backend

#243 feat: 약속잡기 마감시간 기능 구현
  frontend/src/components/@common/Calendar/Calendar.tsx
  frontend/src/components/AppointmentCreate/AppointmentCreateForm/AppointmentCreateForm.tsx
  frontend/src/components/AppointmentCreate/AppointmentCreateFormCloseTimeInput/AppointmentCreateFormCloseTimeInput.tsx
  frontend/src/components/AppointmentProgress/AppointmentProgressDetail/AppointmentProgressDetail.tsx
  frontend/src/components/AppointmentProgress/AppointmentProgressTimePicker/AppointmentProgressTimePicker.tsx
  frontend/src/types/appointment.ts
Labels: ✨ 기능, 💻 frontend

#253 feat: 약속 잡기 결과페이지에서 진행 페이지로 갈 수 있는 링크 복사 기능 구현
  frontend/src/components/AppointmentResult/AppointmentResultHeader/AppointmentResultHeader.tsx
  frontend/src/components/AppointmentResult/AppointmentResultRanking/AppointmentResultRanking.tsx
  frontend/src/pages/AppointmentResultPage/AppointmentResultPage.tsx
  frontend/src/utils/clipboard.ts
Labels: ✨ 기능, 💻 frontend

#261 fix(group): 그룹 초대 링크 복사 오류 해결
  frontend/src/components/Sidebar/Sidebar.tsx
Labels: 🐛 버그, 💻 frontend

#246 feat: 자기자신을 조회하는 API를 추가한다.
  backend/src/main/java/com/morak/back/auth/application/OAuthService.java
  backend/src/main/java/com/morak/back/auth/ui/OAuthController.java
  backend/src/test/java/com/morak/back/TestConfig.java
  backend/src/test/java/com/morak/back/auth/acceptance/OAuthAcceptanceTest.java
  backend/src/test/java/com/morak/back/auth/application/FakeOAuthClient.java
  backend/src/test/java/com/morak/back/auth/application/JwtTokenProviderTest.java
  backend/src/test/java/com/morak/back/auth/application/OAuthServiceTest.java
  backend/src/test/java/com/morak/back/auth/domain/MemberTest.java
  backend/src/test/java/com/morak/back/auth/ui/OAuthControllerTest.java
  backend/src/test/java/com/morak/back/poll/application/PollServiceTest.java
  backend/src/test/java/com/morak/back/team/application/TeamServiceTest.java
Labels: ✨ 기능, 💻 backend

#258 fix(core): API 문서가 보이지 않는 문제 해결
  backend/build.gradle
Labels: 🐛 버그, 💻 backend

#264 fix(poll): 투표를 진행하지 않아도, 결과페이지에서 재투표하기 버튼 출력되는 문제 해결
  frontend/src/components/PollResult/PollResultButtonGroup/PollResultButtonGroup.tsx
  frontend/src/components/PollResult/PollResultContainer/PollResultContainer.tsx
  frontend/src/components/PollResult/PollResultItemGroup/PollResultItemGroup.tsx
Labels: 🐛 버그, 💻 frontend

#265 refactor(poll): 투표 결과 페이지에 진행페이지로 갈 수 있는 링크 수정
  frontend/src/components/PollResult/PollResultContainer/PollResultContainer.tsx
  frontend/src/components/PollResult/PollResultShareLink/PollResultShareLink.tsx
Labels: ♻️ 리팩토링, 💻 frontend

#259 refactor(poll, appointment): 약속 시간 잡기 및 투표 정렬되는 순서를 변경한다
  backend/src/main/java/com/morak/back/appointment/application/AppointmentService.java
  backend/src/main/java/com/morak/back/appointment/ui/dto/AppointmentAllResponse.java
  backend/src/main/java/com/morak/back/poll/application/PollService.java
  backend/src/main/java/com/morak/back/poll/ui/dto/PollResponse.java
  backend/src/test/java/com/morak/back/appointment/application/AppointmentServiceTest.java
  backend/src/test/java/com/morak/back/poll/application/PollServiceTest.java
  backend/src/test/resources/data.sql
Labels: ♻️ 리팩토링, 💻 backend

#274 feat(poll): Poll에 포뮬라를 이용한 count 필드 추가
  backend/src/main/java/com/morak/back/poll/domain/Poll.java
  backend/src/main/java/com/morak/back/poll/ui/dto/PollResponse.java
  backend/src/test/java/com/morak/back/poll/acceptance/PollAcceptanceTest.java
  backend/src/test/java/com/morak/back/poll/application/PollServiceTest.java
  backend/src/test/java/com/morak/back/poll/domain/PollRepositoryTest.java
  backend/src/test/java/com/morak/back/poll/domain/PollTest.java
  backend/src/test/java/com/morak/back/poll/ui/PollControllerTest.java
  backend/src/test/java/com/morak/back/team/acceptance/TeamAcceptanceTest.java
Labels: 🐛 버그, 💻 backend

#278 fix(poll): 익명 투표에서 투표자수가 제대로 뜨지 않는 에러 수정
  frontend/src/components/PollMain/PollMainContainer/PollMainContainer.tsx
  frontend/src/components/PollMain/PollMainProgress/PollMainProgress.tsx
  frontend/src/components/PollResult/PollResultContainer/PollResultContainer.tsx
  frontend/src/components/PollResult/PollResultProgress/PollResultProgress.tsx
  frontend/src/types/poll.ts
Labels: 🐛 버그, 💻 frontend

#279 fix: 익명 투표 카운트바 로직 수정
  backend/src/main/java/com/morak/back/appointment/application/AppointmentService.java
  backend/src/main/java/com/morak/back/appointment/ui/dto/AppointmentAllResponse.java
  backend/src/main/java/com/morak/back/poll/application/PollService.java
  backend/src/main/java/com/morak/back/poll/domain/Poll.java
  backend/src/main/java/com/morak/back/poll/ui/dto/PollResponse.java
  backend/src/test/java/com/morak/back/appointment/application/AppointmentServiceTest.java
  backend/src/test/java/com/morak/back/poll/acceptance/PollAcceptanceTest.java
  backend/src/test/java/com/morak/back/poll/application/PollServiceTest.java
  backend/src/test/java/com/morak/back/poll/domain/PollRepositoryTest.java
  backend/src/test/java/com/morak/back/poll/domain/PollTest.java
  backend/src/test/java/com/morak/back/poll/ui/PollControllerTest.java
  backend/src/test/java/com/morak/back/team/acceptance/TeamAcceptanceTest.java
  backend/src/test/resources/data.sql
  frontend/src/components/PollMain/PollMainContainer/PollMainContainer.tsx
  frontend/src/components/PollMain/PollMainProgress/PollMainProgress.tsx
  frontend/src/components/PollResult/PollResultContainer/PollResultContainer.tsx
  frontend/src/components/PollResult/PollResultProgress/PollResultProgress.tsx
  frontend/src/types/poll.ts
Labels: 🐛 버그, 💻 frontend, 💻 backend

#252 feat: 사이드바 구현
  frontend/src/api/group.ts
  frontend/src/assets/calendar-clock.svg
  frontend/src/assets/leave.svg
  frontend/src/assets/menu.svg
  frontend/src/assets/person-check.svg
  frontend/src/assets/plus.svg
  frontend/src/assets/setting.svg
  frontend/src/assets/slack.svg
  frontend/src/components/PollMain/PollMainContainer/PollMainContainer.tsx
  frontend/src/components/Sidebar/Sidebar.tsx
  frontend/src/components/SidebarFeatureMenu/SidebarFeatureMenu.tsx
  frontend/src/components/SidebarGroupMenu/SidebarGroupMenu.tsx
  frontend/src/components/SidebarInvitationMenu/SidebarInvitationMenu.tsx
  frontend/src/components/SidebarLayout/SidebarLayout.tsx
  frontend/src/components/SidebarMembersProfileMenu/SidebarMembersProfileMenu.tsx
  frontend/src/components/SidebarSlackMenu/SidebarSlackMenu.tsx
  frontend/src/context/MenuProvider.tsx
  frontend/src/pages/AppointmentMainPage/AppointmentMainPage.tsx
  frontend/src/pages/MainPage/MainPage.tsx
  frontend/src/pages/PollMainPage/PollMainPage.tsx
  frontend/src/styles/theme.ts
Labels: ✨ 기능, 💻 frontend

#255 feat: slack url 연동하는 모달창 구현
  frontend/src/assets/close-button.svg
  frontend/src/components/Sidebar/Sidebar.tsx
  frontend/src/components/SidebarSlackMenu/SidebarSlackMenu.tsx
  frontend/src/styles/theme.ts
Labels: ✨ 기능, 💻 frontend

#270 feat(modal): 모달 재사용 컴포넌트 구현
  frontend/src/components/@common/Modal/Modal.tsx
Labels: ✨ 기능, 💻 frontend

#286 fix: 초대링크 복사 안되는 버그 해결
  frontend/src/components/SidebarInvitationMenu/SidebarInvitationMenu.tsx
Labels: 🐛 버그, 💻 frontend

#269 feat(poll): 재투표시 이전 기록 보여주도록 기능 구현
  frontend/src/components/PollProgress/PollProgressForm/PollProgressForm.tsx
  frontend/src/components/PollProgress/PollProgressItemGroup/PollProgressItemGroup.tsx
Labels: ✨ 기능, 💻 frontend

#294 fix: 회원가입 안되있는 상황에서, 초대장 페이지에 접속하면 무한로딩이 되는 문제 해결
  frontend/src/components/Invitation/InvitationContainer/InvitationContainer.tsx
Labels: 🐛 버그, 💻 frontend

#275 feat(init): 초기 페이지 UI 수정
  frontend/src/assets/participate.svg
  frontend/src/components/GroupInit/GroupCreateForm/GroupCreateForm.tsx
  frontend/src/components/GroupInit/GroupCreateFormNameInput/GroupCreateFormNameInput.tsx
  frontend/src/components/GroupInit/GroupCreateFormSubmitButton/GroupCreateFormSubmitButton.tsx
  frontend/src/components/GroupInit/GroupInitContainer/GroupInitContainer.tsx
  frontend/src/components/GroupInit/GroupPariticipateFormSubmitButton/GroupParticipateFormSubmitButton.tsx
  frontend/src/components/GroupInit/GroupParticipateForm/GroupParticipateForm.tsx
  frontend/src/components/GroupInit/GroupParticipateInvitationCodeInput/GroupParticipateInvitationCodeInput.tsx
  frontend/src/pages/GroupInitPage/GroupInitPage.tsx
Labels: ✨ 기능, 💻 frontend

#291 refactor: 페이지 내부의 멤버 프로필 조회 삭제
  frontend/src/components/AppointmentMain/AppointmentMainHeader/AppointmentMainHeader.tsx
  frontend/src/components/MembersProfile/MembersProfile.tsx
  frontend/src/components/PollMain/PollMainHeader/PollMainHeader.tsx
  frontend/src/pages/MainPage/MainPage.tsx
Labels: ♻️ 리팩토링, 💻 frontend

#298 fix: 로그인 후 localhost로 이동되는 문제 해결
  frontend/src/components/Landing/LandingMainSection/LandingMainSection.tsx
Labels: 🐛 버그, 💻 frontend

#295 fix(team): 초대 코드 만료시간 연장
  backend/src/main/java/com/morak/back/team/domain/TeamInvitation.java
  backend/src/test/java/com/morak/back/team/domain/TeamInvitationTest.java
Labels: ♻️ 리팩토링, 💻 backend

#289 feat(group): 그룹참가, 그룹생성에 대한 모달창 구현
  frontend/src/components/GroupInit/GroupParticipateForm/GroupParticipateForm.tsx
  frontend/src/components/Sidebar/Sidebar.tsx
  frontend/src/components/SidebarFeatureMenu/SidebarFeatureMenu.tsx
  frontend/src/components/SidebarGroupMenu/SidebarGroupMenu.tsx
  frontend/src/components/SidebarMenuModals/SidebarMenuModals.tsx
  frontend/src/context/MenuProvider.tsx
  frontend/src/pages/AppointmentMainPage/AppointmentMainPage.tsx
  frontend/src/pages/MainPage/MainPage.tsx
  frontend/src/pages/PollMainPage/PollMainPage.tsx
Labels: ✨ 기능, 💻 frontend

#288 feat(appointment): 약속잡기 목록, 단건 조회 시 closedAt 항목 추가
  backend/src/main/java/com/morak/back/appointment/ui/dto/AppointmentAllResponse.java
  backend/src/main/java/com/morak/back/appointment/ui/dto/AppointmentResponse.java
  backend/src/main/java/com/morak/back/poll/ui/dto/PollCreateRequest.java
  backend/src/main/java/com/morak/back/poll/ui/dto/PollResponse.java
  backend/src/test/java/com/morak/back/appointment/ui/AppointmentControllerTest.java
  backend/src/test/java/com/morak/back/poll/acceptance/PollAcceptanceTest.java
Labels: ✨ 기능, 💻 backend

#307 feat(appointment): 단건 조회 시 호스트 확인 항목 추가
  backend/src/main/java/com/morak/back/appointment/application/AppointmentService.java
  backend/src/main/java/com/morak/back/appointment/ui/dto/AppointmentResponse.java
  backend/src/test/java/com/morak/back/appointment/ui/AppointmentControllerTest.java
Labels: ✨ 기능, 💻 backend

#309 refactor(appointment): 약속잡기 삭제 시 cascade 제약조건 설정
  backend/src/main/resources/schema-dev.sql
  backend/src/main/resources/schema-local.sql
  backend/src/test/java/com/morak/back/appointment/acceptance/AppointmentAcceptanceTest.java
  backend/src/test/resources/schema.sql
Labels: ♻️ 리팩토링, 💻 backend

#292 fix(appointment): 약속잡기에서 12:00AM로 인해 생기는 문제 해결
  frontend/src/components/AppointmentCreate/AppointmentCreateForm/AppointmentCreateForm.tsx
  frontend/src/components/AppointmentProgress/AppointmentProgressTimePicker/AppointmentProgressTimePicker.tsx
  frontend/src/pages/AppointmentProgressPage/AppointmentProgressPage.tsx
Labels: 🐛 버그, 💻 frontend

#304 feat(poll): 투표 생성시 마감시간에 대한 에러 핸들링
  frontend/src/components/PollCreate/PollCreateForm/PollCreateForm.tsx
Labels: ✨ 기능, 💻 frontend

#319 refactor: init 페이지 스타일 수정
  frontend/src/assets/create-plus.svg
  frontend/src/components/GroupInit/GroupCreateFormNameInput/GroupCreateFormNameInput.tsx
  frontend/src/components/GroupInit/GroupCreateFormSubmitButton/GroupCreateFormSubmitButton.tsx
  frontend/src/components/GroupInit/GroupInitContainer/GroupInitContainer.tsx
  frontend/src/components/GroupInit/GroupPariticipateFormSubmitButton/GroupParticipateFormSubmitButton.tsx
  frontend/src/styles/theme.ts
Labels: ♻️ 리팩토링, 💻 frontend

#311 feat(appointment): 약속 잡기 결과 페이지 에러 핸들링
  frontend/src/api/appointment.ts
  frontend/src/components/AppointmentResult/AppointmentResultButtonGroup/AppointmentResultButtonGroup.tsx
  frontend/src/components/AppointmentResult/AppointmentResultHeader/AppointmentResultHeader.tsx
  frontend/src/components/AppointmentResult/AppointmentResultStatus/AppointmentResultStatus.tsx
  frontend/src/pages/AppointmentProgressPage/AppointmentProgressPage.tsx
  frontend/src/pages/AppointmentResultPage/AppointmentResultPage.tsx
  frontend/src/types/appointment.ts
Labels: ✨ 기능, 💻 frontend

#322 fix(group): 그룹 생성, 참가 모달창 내부 input의 value를 비워주도록 수정
  frontend/src/components/SidebarMenuModals/SidebarMenuModals.tsx
Labels: 🐛 버그, 💻 frontend

#318 feat(appointment): 약속잡기 마감시간 보여주도록 구현
  frontend/src/components/AppointmentMain/AppointmentMainContainer/AppointmentMainContainer.tsx
  frontend/src/components/AppointmentMain/AppointmentMainDetail/AppointmentMainDetail.tsx
  frontend/src/components/AppointmentProgress/AppointmentProgressDetail/AppointmentProgressDetail.tsx
  frontend/src/components/AppointmentResult/AppointmentResultHeader/AppointmentResultHeader.tsx
  frontend/src/pages/AppointmentResultPage/AppointmentResultPage.tsx
Labels: ✨ 기능, 💻 frontend

#321 fix(poll): 투표 선택항목을 선택하지 않고 투표를 했을 때 문제 해결
  frontend/src/components/PollProgress/PollProgressForm/PollProgressForm.tsx
Labels: 🐛 버그, 💻 frontend

#325 feat(poll, appointment): 투표, 약속잡기 공유 링크 세분화
  frontend/src/components/AppointmentResult/AppointmentResultHeader/AppointmentResultHeader.tsx
  frontend/src/components/PollResult/PollResultContainer/PollResultContainer.tsx
  frontend/src/components/PollResult/PollResultShareLink/PollResultShareLink.tsx
  frontend/src/pages/AppointmentResultPage/AppointmentResultPage.tsx
Labels: ✨ 기능, 💻 frontend

#324 feat(group): 랜덤 그룹 프로필 구현
  frontend/src/components/SidebarGroupMenu/SidebarGroupMenu.tsx
Labels: ✨ 기능, 💻 frontend

#327 fix(group): 이미 참여하고 있는 그룹을 코드로 참가하려고 했을 때 에러 핸들링
  frontend/src/components/SidebarMenuModals/SidebarMenuModals.tsx
Labels: 🐛 버그, 💻 frontend

#284 refactor(core): 존재하지 않는 정적파일 요청 시에도 커스텀 NOT_FOUND 응답을 반환하도록 변경
  backend/src/main/java/com/morak/back/core/config/WebConfig.java
  backend/src/test/java/com/morak/back/core/ui/ApiNotFoundTest.java
Labels: 🐛 버그, 💻 backend

#332 fix: 링크로 접속시, 사이드바 메뉴가 제대로 선택되지 않는 버그 수정
  frontend/src/App.tsx
  frontend/src/pages/AppointmentMainPage/AppointmentMainPage.tsx
  frontend/src/pages/MainPage/MainPage.tsx
  frontend/src/pages/PollMainPage/PollMainPage.tsx
  frontend/src/routes/MenuRoute.tsx
Labels: 🐛 버그, 💻 frontend

#329 fix(appointment): 약속잡기 생성에서 “취소“버튼을 누르면 목록으로 돌아가지 않는 문제 해결
  frontend/src/components/AppointmentCreate/AppointmentCreateForm/AppointmentCreateForm.tsx
  frontend/src/components/AppointmentCreate/AppointmentCreateFormButtonGroup/AppointmentCreateFormButtonGroup.tsx
Labels: 🐛 버그, 💻 frontend

#168 feat(core): 슬랙 API를 연동한다.
  backend/build.gradle
  backend/src/docs/asciidoc/index.adoc
  backend/src/main/java/com/morak/back/MorakBackApplication.java
  backend/src/main/java/com/morak/back/appointment/application/AppointmentScheduler.java
  backend/src/main/java/com/morak/back/appointment/application/AppointmentService.java
  backend/src/main/java/com/morak/back/appointment/domain/AppointmentRepository.java
  backend/src/main/java/com/morak/back/core/application/NotificationService.java
  backend/src/main/java/com/morak/back/core/config/SchedulerConfig.java
  backend/src/main/java/com/morak/back/core/domain/slack/FormattableData.java
  backend/src/main/java/com/morak/back/core/domain/slack/NotificationRequest.java
  backend/src/main/java/com/morak/back/core/domain/slack/RestSlackClient.java
  backend/src/main/java/com/morak/back/core/domain/slack/SlackClient.java
  backend/src/main/java/com/morak/back/core/domain/slack/SlackWebhook.java
  backend/src/main/java/com/morak/back/core/domain/slack/SlackWebhookRepository.java
  backend/src/main/java/com/morak/back/core/exception/CustomErrorCode.java
  backend/src/main/java/com/morak/back/core/exception/ExternalException.java
  backend/src/main/java/com/morak/back/core/exception/SchedulingException.java
  backend/src/main/java/com/morak/back/core/support/LogFormatter.java
  backend/src/main/java/com/morak/back/core/ui/GlobalControllerAdvice.java
  backend/src/main/java/com/morak/back/core/ui/NotificationController.java
  backend/src/main/java/com/morak/back/core/ui/dto/SlackWebhookCreateRequest.java
  backend/src/main/java/com/morak/back/core/util/MessageFormatter.java
  backend/src/main/java/com/morak/back/poll/application/PollScheduler.java
  backend/src/main/java/com/morak/back/poll/application/PollService.java
  backend/src/main/java/com/morak/back/poll/domain/Poll.java
  backend/src/main/java/com/morak/back/poll/domain/PollRepository.java
  backend/src/main/java/com/morak/back/poll/domain/PollResult.java
  backend/src/main/resources/application.yml
  backend/src/main/resources/schema-dev.sql
  backend/src/main/resources/schema-local.sql
  backend/src/test/java/com/morak/back/appointment/acceptance/AppointmentAcceptanceTest.java
  backend/src/test/java/com/morak/back/appointment/application/AppointmentServiceTest.java
  backend/src/test/java/com/morak/back/appointment/domain/AppointmentRepositoryTest.java
  backend/src/test/java/com/morak/back/core/application/NotificationServiceTest.java
  backend/src/test/java/com/morak/back/core/domain/CodeTest.java
  backend/src/test/java/com/morak/back/core/domain/slack/FakeApiReceiver.java
  backend/src/test/java/com/morak/back/core/domain/slack/FakeSlackClient.java
  backend/src/test/java/com/morak/back/core/domain/slack/SlackClientTest.java
  backend/src/test/java/com/morak/back/core/domain/slack/SlackWebhookRepositoryTest.java
  backend/src/test/java/com/morak/back/core/ui/ErrorCodesControllerTest.java
  backend/src/test/java/com/morak/back/core/ui/NotificationControllerTest.java
  backend/src/test/java/com/morak/back/poll/application/PollServiceTest.java
  backend/src/test/java/com/morak/back/poll/domain/PollRepositoryTest.java
  backend/src/test/java/com/morak/back/poll/ui/ControllerTest.java
  backend/src/test/java/com/morak/back/team/ui/TeamControllerTest.java
  backend/src/test/java/com/morak/external/RestSlackClientTest.java
  backend/src/test/resources/application.yml
  backend/src/test/resources/data.sql
  backend/src/test/resources/schema.sql
Labels: ✨ 기능, 💻 backend

#303 fix(core): 로그 바디 출력 버그 수정
  backend/src/main/java/com/morak/back/core/support/LogFormatter.java
  backend/src/main/java/com/morak/back/core/ui/GlobalControllerAdvice.java
Labels: 🐛 버그, 💻 backend

#337 fix(core): 3117 에러 메시지 수정
  backend/src/main/java/com/morak/back/core/exception/CustomErrorCode.java
  backend/src/main/resources/schema-dev.sql
Labels: 🐛 버그, 💻 backend

#312 refactor(appointment): DB schema 의 cascade 옵션 제거 및 삭제 로직 추가
  backend/src/main/java/com/morak/back/appointment/application/AppointmentService.java
  backend/src/main/java/com/morak/back/appointment/domain/AvailableTimeRepository.java
  backend/src/main/resources/schema-dev.sql
  backend/src/main/resources/schema-local.sql
  backend/src/test/java/com/morak/back/appointment/application/AppointmentServiceTest.java
  backend/src/test/java/com/morak/back/appointment/domain/AvailableTimeRepositoryTest.java
  backend/src/test/resources/schema.sql
Labels: ♻️ 리팩토링, 💻 backend

#339 fix(group): 그룹 랜덤 프로필을 그룹 리스트에도 보여주도록 수정
  frontend/src/components/SidebarGroupMenu/SidebarGroupMenu.tsx
Labels: 🐛 버그, 💻 frontend

#336 feat(appointment): 약속잡기 생성에 대한 에러 핸들링 추가
  frontend/src/components/AppointmentCreate/AppointmentCreateForm/AppointmentCreateForm.tsx
  frontend/src/components/AppointmentCreate/AppointmentCreateFormCloseTimeInput/AppointmentCreateFormCloseTimeInput.tsx
Labels: ✨ 기능, 💻 frontend

#346 fix(core): 슬랙 메세지 반대로 출력되던 버그 수정
  backend/src/main/java/com/morak/back/poll/application/PollService.java
Labels: 🐛 버그, 💻 backend

#338 feat(team): team에 가입하는 경우의 테스트 추가 (rest docs)
  backend/src/docs/asciidoc/index.adoc
  backend/src/test/java/com/morak/back/team/ui/TeamControllerTest.java
Labels: ♻️ 리팩토링, 💻 backend

#343 feat: 슬랙 api를 UI와 연결한다
  frontend/src/api/slack.ts
  frontend/src/components/Sidebar/Sidebar.tsx
  frontend/src/components/SidebarMenuModals/SidebarMenuModals.tsx
  frontend/src/types/slack.ts
Labels: ✨ 기능, 💻 frontend

#348 style: css 스타일 수정
  frontend/src/components/SidebarGroupMenu/SidebarGroupMenu.tsx
  frontend/src/components/SidebarMembersProfileMenu/SidebarMembersProfileMenu.tsx
  frontend/src/components/SidebarMenuModals/SidebarMenuModals.tsx
Labels: ✨ 기능, 💻 frontend

#350 refactor(appointment): 불필요한 초기값 제거
  frontend/src/components/AppointmentCreate/AppointmentCreateForm/AppointmentCreateForm.tsx
Labels: ♻️ 리팩토링, 💻 frontend

#352 feat: 투표, 약속잡기 메인페이지에서 목록이 없을 때 안내 문구와 이미지 추가
  frontend/package-lock.json
  frontend/package.json
  frontend/src/assets/empty-animation.json
  frontend/src/components/AppointmentMain/AppointmentMainContainer/AppointmentMainContainer.tsx
  frontend/src/components/PollMain/PollMainContainer/PollMainContainer.tsx
  frontend/src/types/custom.d.ts
Labels: ✨ 기능, 💻 frontend

#354 fix(appointment): 약속잡기 결과 페이지에서 가능시간 수정 버튼내 글이 줄바꿈되는 문제 해결
  frontend/src/components/AppointmentResult/AppointmentResultButtonGroup/AppointmentResultButtonGroup.tsx
Labels: 🐛 버그, 💻 frontend
