Repository woowacourse-teams/2022-mo-rak, pull requests merged in 2022-11, with the labels that each got.

#547 refactor: 투표 쿼리 성능 개선
  backend/build.gradle
  backend/src/main/java/com/morak/back/poll/application/PollService.java
  backend/src/main/java/com/morak/back/poll/application/dto/PollResponse.java
  backend/src/main/java/com/morak/back/poll/domain/AllowedCount.java
  backend/src/main/java/com/morak/back/poll/domain/Poll.java
  backend/src/main/java/com/morak/back/poll/domain/PollItems.java
  backend/src/main/java/com/morak/back/poll/domain/PollRepository.java
  backend/src/main/resources/schema-dev.sql
  backend/src/main/resources/schema-local.sql
  backend/src/test/java/com/morak/back/performance/Fixture.java
  backend/src/test/java/com/morak/back/performance/PerformanceTest.java
  backend/src/test/java/com/morak/back/poll/application/PollServiceTest.java
  backend/src/test/java/com/morak/back/poll/domain/PollRepositoryTest.java
  backend/src/test/java/com/morak/back/poll/domain/PollTest.java
  backend/src/test/resources/data.sql
  backend/src/test/resources/schema.sql
Labels: ♻️ 리팩토링, 💻 backend

#560 fix: 약속잡기 추천시 무한루프 버그 수정
  backend/src/main/java/com/morak/back/appointment/domain/Appointment.java
  backend/src/test/java/com/morak/back/appointment/domain/AppointmentTest.java
Labels: 🐛 버그, 💻 backend

#556 feat: 재사용 컴포넌트에 대한 storybook 추가 생성
  frontend/package.json
  frontend/src/components/Avatar/Avatar.stories.tsx
  frontend/src/components/Box/Box.stories.tsx
  frontend/src/components/Button/Button.stories.tsx
  frontend/src/components/Calendar/Calendar.stories.tsx
  frontend/src/components/Checkbox/Checkbox.stories.tsx
  frontend/src/components/Divider/Divider.stories.tsx
  frontend/src/components/FlexContainer/FlexContainer.stories.tsx
  frontend/src/components/Input/Input.stories.tsx
  frontend/src/components/MarginContainer/MarginContainer.stories.tsx
  frontend/src/components/Modal/Modal.stories.tsx
  frontend/src/components/Progress/Progress.stories.tsx
  frontend/src/components/Radio/Radio.stories.tsx
  frontend/src/components/Select/Select.stories.tsx
  frontend/src/components/Spinner/Spinner.stories.tsx
  frontend/src/components/TextField/TextField.stories.tsx
  frontend/src/components/Tooltip/Tooltip.stories.tsx
Labels: ✨ 기능, 💻 frontend

#568 refactor: 툴팁 width에 고정적으로 적용되는 rem 삭제
  frontend/src/components/Tooltip/Tooltip.stories.tsx
  frontend/src/components/Tooltip/Tooltip.styles.tsx
  frontend/src/components/Tooltip/Tooltip.tsx
  frontend/src/pages/AppointmentCreatePage/components/AppointmentCreateFormTimeLimitInput/AppointmentCreateFormTimeLimitInput.tsx
  frontend/src/pages/AppointmentResultPage/components/AppointmentResultButtons/AppointmentResultButtons.tsx
  frontend/src/pages/AppointmentResultPage/components/AppointmentResultHeader/AppointmentResultHeader.tsx
  frontend/src/pages/PollResultPage/components/PollResultContainer/PollResultContainer.tsx
Labels: ♻️ 리팩토링, 💻 frontend

#570 chore: 로컬환경에서 MySQL 을 docker 를 이용하여 세팅
  backend/.gitignore
  backend/README.md
  backend/docker/docker-compose.yml
  backend/src/main/resources/application.yml
Labels: 💻 backend, 🍊 인프라

#571 feat: 그룹 생성 및 참가 페이지의 접근성 개선
  frontend/src/pages/GroupInitPage/components/GroupCreateFormNameInput/GroupCreateFormNameInput.tsx
  frontend/src/pages/GroupInitPage/components/GroupInitContainer/GroupInitContainer.styles.tsx
  frontend/src/pages/GroupInitPage/components/GroupInitContainer/GroupInitContainer.tsx
  frontend/src/pages/GroupInitPage/components/GroupParticipateInvitationCodeInput/GroupParticipateInvitationCodeInput.tsx
Labels: ✨ 기능, 💻 frontend

#548 feat: 역할정하기 쿼리 성능 개선
  backend/src/main/java/com/morak/back/role/application/RoleService.java
  backend/src/main/java/com/morak/back/role/domain/RoleEntityRepository.java
  backend/src/main/java/com/morak/back/role/domain/RoleEntityRepositoryImpl.java
  backend/src/main/java/com/morak/back/role/domain/RoleHistories.java
  backend/src/main/java/com/morak/back/role/domain/RoleHistory.java
  backend/src/main/java/com/morak/back/role/domain/RoleMatchResult.java
  backend/src/main/java/com/morak/back/role/domain/RoleNames.java
  backend/src/main/java/com/morak/back/role/domain/RoleRepository.java
  backend/src/main/java/com/morak/back/role/exception/RoleNotFoundException.java
  backend/src/main/resources/application.yml
  backend/src/main/resources/data-local.sql
  backend/src/test/java/com/morak/back/performance/PerformanceTest.java
  backend/src/test/java/com/morak/back/performance/support/RoleRequestSupport.java
  backend/src/test/java/com/morak/back/role/application/RoleServiceTest.java
  backend/src/test/java/com/morak/back/role/domain/RoleEntityRepositoryTest.java
  backend/src/test/java/com/morak/back/role/domain/RoleRepositoryTest.java
  backend/src/test/resources/data.sql
Labels: ✨ 기능, 💻 backend

#552 refactor: 약속잡기 쿼리를 개선한다.
  backend/build.gradle
  backend/src/main/java/com/morak/back/appointment/domain/Appointment.java
  backend/src/main/java/com/morak/back/appointment/domain/AvailableTime.java
  backend/src/main/java/com/morak/back/appointment/domain/AvailableTimes.java
  backend/src/main/java/com/morak/back/appointment/ui/dto/AppointmentAllResponse.java
  backend/src/main/resources/schema-dev.sql
  backend/src/main/resources/schema-local.sql
  backend/src/test/java/com/morak/back/appointment/application/AppointmentServiceTest.java
  backend/src/test/java/com/morak/back/appointment/domain/AppointmentTest.java
  backend/src/test/java/com/morak/back/appointment/domain/AvailableTimeTest.java
  backend/src/test/java/com/morak/back/appointment/domain/AvailableTimesTest.java
  backend/src/test/java/com/morak/back/performance/dao/AppointmentDao.java
  backend/src/test/java/com/morak/back/performance/dao/DummyAvailableTime.java
  backend/src/test/java/com/morak/back/performance/support/AppointmentDummySupport.java
  backend/src/test/java/com/morak/back/performance/support/TeamMemberDummySupport.java
  backend/src/test/resources/data.sql
  backend/src/test/resources/schema.sql
Labels: ♻️ 리팩토링, 💻 backend

#585 fix: UI가 깨지는 에러를 전반적으로 수정
  frontend/src/components/Calendar/Calendar.styles.tsx
  frontend/src/components/Modal/Modal.styles.tsx
  frontend/src/components/Tooltip/Tooltip.styles.tsx
  frontend/src/layouts/NavigationLayout/components/GlobalFootbarFootbar/GlobalFootbarFootbar.styles.tsx
  frontend/src/layouts/NavigationLayout/components/GlobalFootbarFootbarDrawer/GlobalFootbarFootbarDrawer.styles.tsx
  frontend/src/layouts/NavigationLayout/components/GlobalFootbarFootbarDrawerGroupsSection/GlobalFootbarFootbarDrawerGroupsSection.styles.tsx
  frontend/src/layouts/NavigationLayout/components/GlobalFootbarGlobalbar/GlobalFootbarGlobalbar.styles.tsx
  frontend/src/layouts/NavigationLayout/components/Sidebar/Sidebar.styles.tsx
  frontend/src/layouts/NavigationLayout/components/SidebarGroupsMenu/SidebarGroupsMenu.styles.tsx
  frontend/src/pages/AppointmentCreatePage/components/AppointmentCreateFormButtons/AppointmentCreateFormButtons.tsx
  frontend/src/pages/AppointmentCreatePage/components/AppointmentCreateFormCloseTimeInput/AppointmentCreateFormCloseTimeInput.styles.tsx
  frontend/src/pages/AppointmentCreatePage/components/AppointmentCreateFormCloseTimeInput/AppointmentCreateFormCloseTimeInput.tsx
  frontend/src/pages/AppointmentCreatePage/components/AppointmentCreateFormDescriptionInput/AppointmentCreateFormDescriptionInput.styles.tsx
  frontend/src/pages/AppointmentCreatePage/components/AppointmentCreateFormDescriptionInput/AppointmentCreateFormDescriptionInput.tsx
  frontend/src/pages/AppointmentCreatePage/components/AppointmentCreateFormDurationInput/AppointmentCreateFormDurationInput.styles.tsx
  frontend/src/pages/AppointmentCreatePage/components/AppointmentCreateFormDurationInput/AppointmentCreateFormDurationInput.tsx
  frontend/src/pages/AppointmentCreatePage/components/AppointmentCreateFormTimeInput/AppointmentCreateFormTimeInput.tsx
  frontend/src/pages/AppointmentCreatePage/components/AppointmentCreateFormTimeLimitInput/AppointmentCreateFormTimeLimitInput.styles.tsx
  frontend/src/pages/AppointmentCreatePage/components/AppointmentCreateFormTitleInput/AppointmentCreateFormTitleInput.styles.tsx
  frontend/src/pages/AppointmentCreatePage/components/AppointmentCreateFormTitleInput/AppointmentCreateFormTitleInput.tsx
  frontend/src/pages/AppointmentProgressPage/components/AppointmentProgressButtons/AppointmentProgressButtons.tsx
  frontend/src/pages/AppointmentProgressPage/components/AppointmentProgressHeader/AppointmentProgressHeader.styles.tsx
  frontend/src/pages/AppointmentProgressPage/components/AppointmentProgressTimePicker/AppointmentProgressTimePicker.styles.tsx
  frontend/src/pages/AppointmentResultPage/components/AppointmentResultHeader/AppointmentResultHeader.styles.tsx
  frontend/src/pages/PollProgressPage/components/PollProgressForm/PollProgressForm.styles.tsx
  frontend/src/pages/PollResultPage/components/PollResultContainer/PollResultContainer.styles.tsx
Labels: 🐛 버그, 💻 frontend

#581 refactor: 약속 생성 시 현재 날짜로부터 1년뒤까지의 날짜까지만 허용하도록 변경
  backend/src/main/java/com/morak/back/appointment/domain/dateperiod/Date.java
  backend/src/main/java/com/morak/back/core/exception/CustomErrorCode.java
  backend/src/test/java/com/morak/back/appointment/domain/dateperiod/DateTest.java
Labels: ♻️ 리팩토링, 💻 backend

#582 chore: 설정파일 정리
  backend/src/main/java/com/morak/back/appointment/application/AppointmentScheduler.java
  backend/src/main/java/com/morak/back/poll/application/PollScheduler.java
  backend/src/main/resources/application.yml
  backend/src/test/java/com/morak/back/appointment/application/AppointmentSchedulerTest.java
  backend/src/test/java/com/morak/back/poll/application/PollSchedulerTest.java
  backend/src/test/resources/application.yml
Labels: ♻️ 리팩토링, 💻 backend

#579 chore: route 뒤 green 서버 kill 하도록 수정
  jenkins/jenkinsfile-dev
  jenkins/jenkinsfile-prd
Labels: 💻 backend, 🍊 인프라

#588 refactor: dto를 서비스 계층으로 이동
  backend/src/main/java/com/morak/back/appointment/application/AppointmentService.java
  backend/src/main/java/com/morak/back/appointment/application/dto/AppointmentAllResponse.java
  backend/src/main/java/com/morak/back/appointment/application/dto/AppointmentCreateRequest.java
  backend/src/main/java/com/morak/back/appointment/application/dto/AppointmentResponse.java
  backend/src/main/java/com/morak/back/appointment/application/dto/AppointmentStatusResponse.java
  backend/src/main/java/com/morak/back/appointment/application/dto/AvailableTimeRequest.java
  backend/src/main/java/com/morak/back/appointment/application/dto/RecommendationResponse.java
  backend/src/main/java/com/morak/back/appointment/ui/AppointmentController.java
  backend/src/main/java/com/morak/back/auth/application/OAuthService.java
  backend/src/main/java/com/morak/back/auth/application/dto/ChangeNameRequest.java
  backend/src/main/java/com/morak/back/auth/application/dto/MemberResponse.java
  backend/src/main/java/com/morak/back/auth/application/dto/SigninRequest.java
  backend/src/main/java/com/morak/back/auth/application/dto/SigninResponse.java
  backend/src/main/java/com/morak/back/auth/ui/OAuthController.java
  backend/src/main/java/com/morak/back/core/application/dto/ExceptionResponse.java
  backend/src/main/java/com/morak/back/core/config/TimeConfig.java
  backend/src/main/java/com/morak/back/core/domain/SystemTime.java
  backend/src/main/java/com/morak/back/core/ui/GlobalControllerAdvice.java
  backend/src/main/java/com/morak/back/team/application/TeamService.java
  backend/src/main/java/com/morak/back/team/application/dto/InvitationJoinedResponse.java
  backend/src/main/java/com/morak/back/team/application/dto/TeamCreateRequest.java
  backend/src/main/java/com/morak/back/team/application/dto/TeamResponse.java
  backend/src/main/java/com/morak/back/team/domain/ExpiredTime.java
  backend/src/main/java/com/morak/back/team/domain/TeamInvitation.java
  backend/src/main/java/com/morak/back/team/ui/TeamController.java
  backend/src/test/java/com/morak/back/SimpleRestAssured.java
  backend/src/test/java/com/morak/back/appointment/AppointmentCreateRequestFixture.java
  backend/src/test/java/com/morak/back/appointment/acceptance/AppointmentAcceptanceTest.java
  backend/src/test/java/com/morak/back/appointment/application/AppointmentSchedulerTest.java
  backend/src/test/java/com/morak/back/appointment/application/AppointmentServiceTest.java
  backend/src/test/java/com/morak/back/appointment/ui/AppointmentControllerTest.java
  backend/src/test/java/com/morak/back/auth/acceptance/OAuthAcceptanceTest.java
  backend/src/test/java/com/morak/back/auth/application/OAuthServiceTest.java
  backend/src/test/java/com/morak/back/auth/ui/OAuthControllerTest.java
  backend/src/test/java/com/morak/back/core/domain/FakeSystemTime.java
  backend/src/test/java/com/morak/back/notification/application/NotificationEventTest.java
  backend/src/test/java/com/morak/back/notification/application/NotificationServiceTest.java
  backend/src/test/java/com/morak/back/performance/Fixture.java
  backend/src/test/java/com/morak/back/performance/support/AppointmentRequestSupport.java
  backend/src/test/java/com/morak/back/performance/support/TeamMemberRequestSupport.java
  backend/src/test/java/com/morak/back/poll/acceptance/PollAcceptanceTest.java
  backend/src/test/java/com/morak/back/poll/application/PollSchedulerTest.java
  backend/src/test/java/com/morak/back/role/acceptance/RoleAcceptanceTest.java
  backend/src/test/java/com/morak/back/team/acceptance/TeamAcceptanceTest.java
  backend/src/test/java/com/morak/back/team/application/TeamServiceTest.java
  backend/src/test/java/com/morak/back/team/domain/ExpiredTimeTest.java
  backend/src/test/java/com/morak/back/team/domain/TeamInvitationTest.java
  backend/src/test/java/com/morak/back/team/ui/TeamControllerTest.java
Labels: ♻️ 리팩토링, 💻 backend

#592 refactor: PollService에서 SystemTime을 사용하도록 변경
  backend/src/main/java/com/morak/back/poll/application/PollService.java
  backend/src/main/java/com/morak/back/poll/application/dto/PollCreateRequest.java
  backend/src/test/resources/application.yml
  backend/src/test/resources/data.sql
Labels: ♻️ 리팩토링, 💻 backend

#597 refactor: 폴더명 변경
  frontend/src/App.tsx
  frontend/src/apis/appointment.ts
  frontend/src/apis/auth.ts
  frontend/src/apis/axios.ts
  frontend/src/apis/group.ts
  frontend/src/apis/poll.ts
  frontend/src/apis/role.ts
  frontend/src/apis/slack.ts
  frontend/src/contexts/AuthProvider.tsx
  frontend/src/contexts/GroupMembersProvider.tsx
  frontend/src/contexts/NavigationBarProvider.tsx
  frontend/src/hooks/useAuthContext.ts
  frontend/src/hooks/useAuthDispatchContext.ts
  frontend/src/hooks/useGroupMembersContext.ts
  frontend/src/hooks/useGroupMembersDispatchContext.ts
  frontend/src/hooks/useNavigationBarContext.ts
  frontend/src/hooks/useNavigationBarDispatchContext.ts
  frontend/src/layouts/NavigationLayout/NavigationLayout.tsx
  frontend/src/layouts/NavigationLayout/components/GlobalFootbar/GlobalFootbar.tsx
  frontend/src/layouts/NavigationLayout/components/GlobalFootbarFootbarDrawerBottomSectionInvitationMenu/GlobalFootbarFootbarDrawerBottomSectionInvitationMenu.tsx
  frontend/src/layouts/NavigationLayout/components/GlobalFootbarFootbarDrawerGroupsSection/GlobalFootbarFootbarDrawerGroupsSection.tsx
  frontend/src/layouts/NavigationLayout/components/GlobalFootbarFootbarDrawerModals/GlobalFootbarFootbarDrawerModals.tsx
  frontend/src/layouts/NavigationLayout/components/GlobarFootbarFootbarDrawerMembersProfileSection/GlobarFootbarFootbarDrawerMembersProfileSection.tsx
  frontend/src/layouts/NavigationLayout/components/Sidebar/Sidebar.tsx
  frontend/src/layouts/NavigationLayout/components/SidebarEditUsernameModal/SidebarEditUsernameModal.tsx
  frontend/src/layouts/NavigationLayout/components/SidebarGroupsMenu/SidebarGroupsMenu.tsx
  frontend/src/layouts/NavigationLayout/components/SidebarInvitationMenu/SidebarInvitationMenu.tsx
  frontend/src/layouts/NavigationLayout/components/SidebarModals/SidebarModals.tsx
  frontend/src/pages/AppointmentCreatePage/components/AppointmentCreateForm/AppointmentCreateForm.tsx
  frontend/src/pages/AppointmentMainPage/components/AppointmentMainContainer/AppointmentMainContainer.tsx
  frontend/src/pages/AppointmentProgressPage/AppointmentProgressPage.tsx
  frontend/src/pages/AppointmentResultPage/AppointmentResultPage.tsx
  frontend/src/pages/AppointmentResultPage/components/AppointmentResultButtons/AppointmentResultButtons.tsx
  frontend/src/pages/GroupInitPage/GroupInitPage.tsx
  frontend/src/pages/GroupInitPage/components/GroupCreateForm/GroupCreateForm.tsx
  frontend/src/pages/GroupInitPage/components/GroupParticipateForm/GroupParticipateForm.tsx
  frontend/src/pages/InvitationPage/components/InvitationButtons/InvitationButtons.tsx
  frontend/src/pages/InvitationPage/components/InvitationContainer/InvitationContainer.tsx
  frontend/src/pages/LandingPage/LandingPage.tsx
  frontend/src/pages/PollCreatePage/components/PollCreateForm/PollCreateForm.tsx
  frontend/src/pages/PollMainPage/components/PollMainContainer/PollMainContainer.tsx
  frontend/src/pages/PollProgressPage/components/PollProgressButtons/PollProgressButtons.tsx
  frontend/src/pages/PollProgressPage/components/PollProgressForm/PollProgressForm.tsx
  frontend/src/pages/PollResultPage/components/PollResultButtons/PollResultButtons.tsx
  frontend/src/pages/PollResultPage/components/PollResultContainer/PollResultContainer.tsx
  frontend/src/pages/RoleMainPage/RoleMainPage.tsx
  frontend/src/pages/RoleMainPage/components/RoleMainButtons/RoleMainButtons.tsx
  frontend/src/pages/RoleMainPage/components/RoleMainProgress/RoleMainProgress.tsx
  frontend/src/pages/RoleMainPage/components/RoleMainRoleEditModal/RoleMainRoleEditModal.tsx
  frontend/src/routes/GroupRoute.tsx
  frontend/src/routes/PrivateRoute.tsx
Labels: ♻️ 리팩토링, 💻 frontend

#601 refactor: package.json 수정
  frontend/package.json
Labels: ♻️ 리팩토링, 💻 frontend

#603 refactor: 초기 그룹 참여 페이지 컴포넌트 추상화
  frontend/src/pages/GroupInitPage/GroupInitPage.styles.tsx
  frontend/src/pages/GroupInitPage/GroupInitPage.tsx
  frontend/src/pages/GroupInitPage/components/GroupCreateFormSubmitButton/GroupCreateFormSubmitButton.tsx
  frontend/src/pages/GroupInitPage/components/GroupInitContainer/GroupInitContainer.tsx
  frontend/src/pages/GroupInitPage/components/GroupInitForms/GroupInitForms.styles.tsx
  frontend/src/pages/GroupInitPage/components/GroupInitForms/GroupInitForms.tsx
  frontend/src/pages/GroupInitPage/components/GroupInitFormsCreateForm/GroupInitFormsCreateForm.styles.tsx
  frontend/src/pages/GroupInitPage/components/GroupInitFormsCreateForm/GroupInitFormsCreateForm.tsx
  frontend/src/pages/GroupInitPage/components/GroupInitFormsCreateFormNameInput/GroupInitFormsCreateFormNameInput.styles.tsx
  frontend/src/pages/GroupInitPage/components/GroupInitFormsCreateFormNameInput/GroupInitFormsCreateFormNameInput.tsx
  frontend/src/pages/GroupInitPage/components/GroupInitFormsCreateFormSubmitButton/GroupInitFormsCreateFormSubmitButton.styles.tsx
  frontend/src/pages/GroupInitPage/components/GroupInitFormsCreateFormSubmitButton/GroupInitFormsCreateFormSubmitButton.tsx
  frontend/src/pages/GroupInitPage/components/GroupInitFormsParticipateForm/GroupInitFormsParticipateForm.styles.tsx
  frontend/src/pages/GroupInitPage/components/GroupInitFormsParticipateForm/GroupInitFormsParticipateForm.tsx
  frontend/src/pages/GroupInitPage/components/GroupInitFormsParticipateFormInvitationCodeInput/GroupInitFormsParticipateFormInvitationCodeInput.styles.tsx
  frontend/src/pages/GroupInitPage/components/GroupInitFormsParticipateFormInvitationCodeInput/GroupInitFormsParticipateFormInvitationCodeInput.tsx
  frontend/src/pages/GroupInitPage/components/GroupInitFormsParticipateFormSubmitButton/GroupInitFormsParticipateFormSubmitButton.styles.tsx
  frontend/src/pages/GroupInitPage/components/GroupInitFormsParticipateFormSubmitButton/GroupInitFormsParticipateFormSubmitButton.tsx
  frontend/src/pages/GroupInitPage/components/GroupInitHeader/GroupInitHeader.styles.tsx
  frontend/src/pages/GroupInitPage/components/GroupInitHeader/GroupInitHeader.tsx
  frontend/src/pages/GroupInitPage/components/GroupParticipateFormSubmitButton/GroupParticipateFormSubmitButton.tsx
Labels: ♻️ 리팩토링, 💻 frontend

#605 refactor: 약속 생성, 진행 페이지 컴포넌트 추상화
  frontend/src/pages/AppointmentCreatePage/AppointmentCreatePage.styles.tsx
  frontend/src/pages/AppointmentCreatePage/AppointmentCreatePage.tsx
  frontend/src/pages/AppointmentCreatePage/components/AppointmentCreateInputs/AppointmentCreateInputs.styles.tsx
  frontend/src/pages/AppointmentCreatePage/components/AppointmentCreateInputs/AppointmentCreateInputs.tsx
  frontend/src/pages/AppointmentCreatePage/components/AppointmentCreateInputsForm/AppointmentCreateInputsForm.styles.tsx
  frontend/src/pages/AppointmentCreatePage/components/AppointmentCreateInputsForm/AppointmentCreateInputsForm.tsx
  frontend/src/pages/AppointmentProgressPage/AppointmentProgressPage.styles.tsx
  frontend/src/pages/AppointmentProgressPage/AppointmentProgressPage.tsx
  frontend/src/pages/AppointmentProgressPage/components/AppointmentProgressHeader/AppointmentProgressHeader.tsx
  frontend/src/pages/AppointmentProgressPage/components/AppointmentProgressHeaderDetail/AppointmentProgressHeaderDetail.styles.tsx
  frontend/src/pages/AppointmentProgressPage/components/AppointmentProgressHeaderDetail/AppointmentProgressHeaderDetail.tsx
  frontend/src/pages/AppointmentProgressPage/components/AppointmentProgressInputs/AppointmentProgressInputs.styles.tsx
  frontend/src/pages/AppointmentProgressPage/components/AppointmentProgressInputs/AppointmentProgressInputs.tsx
Labels: ♻️ 리팩토링, 💻 frontend
